.hero-case {
    position: relative;
    overflow: hidden;

    @media (min-width:$md2) {
        padding-top: 100px;
    }

    &--rma {
        @media (min-width:$md3) {
            padding-bottom: 90px;
        }

        @media (max-width:$md3) {
            padding-bottom: 60px;
        }
    }

    // .hero-case__container
    &__container {}

    // .hero-case__body
    &__body {
        @media (min-width:$md2) {
            display: flex;
            justify-content: space-between;
        }
    }

    // .hero-case__content
    &__content {
        @include adaptiveValue("font-size", 48, 36, 0, 1300, 650);
        letter-spacing: -0.03em;
        line-height: math.div(64, 48);

        @media (min-width:$md2) {
            flex: 0 1 700px;
            margin-right: 40px;
            padding: 50px 0 90px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @media (max-width:$md2) {
            margin-bottom: 60px;
        }

        &--rma {
            @media (min-width:$md2) {
                flex: 0 1 540px;
                padding-bottom: 0;
            }
        }
    }

    // .hero-case__back-link
    &__back-link {
        display: inline-grid;
        grid-template-columns: 14px auto;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;

        font-size: 18px;
        line-height: math.div(22, 18);
        font-weight: 600;
        color: var(--secondary);

        opacity: 0.5;

        transition: opacity .4s ease;

        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
            }
        }
    }

    // .hero-case__title
    &__title {
        font-weight: 600;

        &--orange {
            color: var(--orange);
        }

        &--blue {
            color: var(--blue-light);
        }
    }

    // .hero-case__descr
    &__descr {
        color: var(--secondary);
    }

    // .hero-case__text
    &__text {
        margin-bottom: 30px;

        span {
            font-weight: 600;
        }
    }

    // .hero-case__note
    &__note {
        font-weight: 500;
        font-size: 18px;
        line-height: math.div(24, 18);
        letter-spacing: -0.01em;

        color: #82848e;

        @media (max-width:$md5) {
            max-width: 260px;
        }
    }

    // .hero-case__image
    &__image {
        @media (min-width:$md2) {
            align-self: flex-end;
        }

        @media (max-width:$md2) {
            max-width: 450px;
            width: percent(300, 350);
        }

        &--citympact {
            @media (min-width:$md2) {
                flex: 0 1 percent(610, 1240);
                margin-right: percent(-120, 1240);
            }

            @media (max-width:$md2) {
                margin-left: auto;
                transform: translate3D(20px, 0px, 0);
            }
        }

        &--fleet {
            @media (min-width:$md2) {
                flex: 0 1 percent(570, 1240);
                margin-right: percent(-120, 1240);
            }

            @media (max-width:$md2) {
                margin-left: auto;
                transform: translate3D(20px, 0px, 0);
            }
        }

        &--covid {
            box-shadow: 0px 16.4722px 137.269px rgba(20, 86, 133, 0.18);
            border-radius: 18.3025px;
            overflow: hidden;

            transform: rotate(-2.19deg);

            @media (min-width:$md2) {
                flex: 0 1 percent(550, 1240);
                margin-right: percent(-50, 1240);
            }

            @media (max-width:$md2) {
                margin: 0 auto;
            }
        }

        &--rma {
            position: relative;
            border-radius: 24px;
            overflow: hidden;

            @media (min-width:em(1380)) {
                margin-right: -50px;
            }

            @media (min-width:$md2) {
                flex: 0 1 percent(680, 1240);
            }

            @media (max-width:$md2) {
                margin-left: auto;
                margin-right: auto;
            }

            img {
                aspect-ratio: 680/586;
            }
        }

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;

            &:not(.hero-case__image--rma>img) {
                aspect-ratio: 610/715;
            }
        }
    }

    // .hero-case__image-caption
    &__image-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 9.5px 16px;

        line-height: math.div(30, 24);
        font-weight: 500;
        color: var(--black-pure);

        background-color: var(--yellow);

        @media (min-width:$md3) {
            font-size: 24px;
        }

        @media (max-width:$md3) {
            font-size: 18px;
        }

        svg {
            @media (min-width:$md3) {
                margin-right: 18.5px;
            }

            @media (max-width:$md3) {
                margin-right: 10px;
            }

            @media (max-width:$md3) {
                width: 40px;
                height: 40px;
            }
        }
    }
}