<section class="page__hero-case-overview hero-case-overview">
    <div class="hero-case-overview__cover_image">
        <img src="@img/technology/hero.jpg" width="1440" height="545" alt="Awesome image">
    </div>
    <div class="hero-case-overview__container">
        <div class="hero-case-overview__body">
            <a href="#" class="hero-case-overview__link-back">
                <svg width="14" height="14">
                    <use xlink:href="img/icons/icons.svg#svg-arr-left"></use>
                </svg>
                <span>Go back</span>
            </a>
            <div class="hero-case-overview__content">
                <h1 class="hero-case-overview__title">Technology</h1>
            </div>
        </div>
    </div>
</section>
<!-- /.hero-case-overview -->