<section class="page__steps steps steps--light">
    <div class="steps__container">
        <h2 class="steps__title title">We’re versatile in our offering, covering the needs of any app or service conceivable.</h2>
        <div class="steps__items">
            <div class="steps__item item-steps">
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-blue.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
                <h3 class="item-steps__title">Python Development</h3>
                <p class="item-steps__descr">We partner with you to fully comprehend your needs, vision, and objectives. </p>
            </div>
            <div class="steps__item item-steps">
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-orange.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
                <h3 class="item-steps__title">Fullstack Solutions
                    (Java, Python, PHP)</h3>
                <p class="item-steps__descr">We involve you in every step of the software development process, gathering your feedback iteratively.</p>
            </div>
            <div class="steps__item item-steps">
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-green.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
                <h3 class="item-steps__title">Java Development</h3>
                <p class="item-steps__descr">We deploy the new platform seamlessly, ensuring that it operates efficiently, generates value.</p>
            </div>
            <div class="steps__item item-steps">
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-rose.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
                <h3 class="item-steps__title">Methodologies <br> (Agile, Lean, Scrum) </h3>
                <p class="item-steps__descr">We involve you in every step of the software development process, gathering your feedback iteratively and implementing it to refine the solution. </p>
            </div>
            <div class="steps__item item-steps">
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-yellow.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
                <h3 class="item-steps__title">Software Testing & Quality Assurance</h3>
                <p class="item-steps__descr">We deploy the new platform seamlessly, ensuring that it operates efficiently, generates value, and inspires trust among your customers.</p>
            </div>
            <div class="steps__item item-steps">
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-blue-light.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
                <h3 class="item-steps__title">Big Data - <br> Analytical Solutions </h3>
                <p class="item-steps__descr">We deploy the new platform seamlessly, ensuring that it operates efficiently, generates value, and inspires trust.</p>
            </div>
        </div>
        <div class="steps__bottom steps__bottom--aligned-start">
            <h3 class="steps__label">View selected projects that we’ve proudly built</h3>
            <a href="#" class="steps__button button button--filled">
                <span>View Case Studies</span>
                <svg width="11" height="11">
                    <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
<!-- /.steps -->