// body::before,
// body:after {
//     content: "";
//     position: fixed;
//     z-index: 990;
//     width: 100vw;
//     height: 50vh;
//     background-color: #fff;
//     -webkit-transition: opacity .4s ease 1s, visibility .4s ease 1s, -webkit-transform .6s ease;
//     transition: opacity .4s ease 1s, visibility .4s ease 1s, -webkit-transform .6s ease;
//     transition: transform .6s ease, opacity .4s ease 1s, visibility .4s ease 1s;
//     transition: transform .6s ease, opacity .4s ease 1s, visibility .4s ease 1s, -webkit-transform .6s ease
// }

// body::before .show-content,
// body:after .show-content {
//     pointer-events: none;
//     opacity: 0;
//     visibility: hidden
// }

// body::before {
//     top: 0
// }

// .show-content body::before {
//     -webkit-transform: translate3D(0, -100%, 0);
//     -ms-transform: translate3D(0, -100%, 0);
//     transform: translate3D(0, -100%, 0)
// }

// body::after {
//     bottom: 0
// }

// .show-content body::after {
//     -webkit-transform: translate3D(0, 100%, 0);
//     -ms-transform: translate3D(0, 100%, 0);
//     transform: translate3D(0, 100%, 0)
// }


.preloader {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: pointer-events .4s ease, opacity .4s ease, visibility .4s ease;
    transition: pointer-events .4s ease, opacity .4s ease, visibility .4s ease;
    background-color: #fff;
}

.show-content .preloader {
    opacity: 0;
    visibility: hidden;
    pointer-events: none
}

.preloader__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px
}

.letter-01 {
    -webkit-animation: animation-letter-01 3.2s linear forwards;
    animation: animation-letter-01 3.2s linear forwards
}

.letter-02 {
    -webkit-animation: animation-letter-02 3.4s linear forwards;
    animation: animation-letter-02 3.4s linear forwards
}

.letter-03 {
    -webkit-animation: animation-letter-03 3.6s linear forwards;
    animation: animation-letter-03 3.6s linear forwards
}

.letter-04 {
    -webkit-animation: animation-letter-04 3.8s linear forwards;
    animation: animation-letter-04 3.8s linear forwards
}

.letter-05 {
    -webkit-animation: animation-letter-05 4s linear forwards;
    animation: animation-letter-05 4s linear forwards
}

.preloader__company-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px
}

.preloader__bottom-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px
}

.preloader__border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-animation: animation-border 4.6s linear forwards;
    animation: animation-border 4.6s linear forwards
}

.preloader__slogan {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-animation: animation-slogan 4s linear forwards;
    animation: animation-slogan 4s linear forwards
}

@-webkit-keyframes animation-letter-01 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    63% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes animation-letter-01 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    63% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes animation-letter-02 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    65% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes animation-letter-02 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    65% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes animation-letter-03 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    67% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes animation-letter-03 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    67% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes animation-letter-04 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    69% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes animation-letter-04 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    69% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes animation-letter-05 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    71% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes animation-letter-05 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    71% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes animation-slogan {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    71% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes animation-slogan {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    71% {
        opacity: 0;
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes animation-border {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
        transform: translateX(-60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    74% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
        transform: translateX(-60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes animation-border {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    1% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
        transform: translateX(-60px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    74% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
        transform: translateX(-60px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 35.0230789185px;
        stroke-dasharray: 35.0230789185px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 35.0230789185px
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 35.0230789185px;
        stroke-dasharray: 35.0230789185px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 35.0230789185px
    }
}

@-webkit-keyframes animate-svg-fill-1 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(.47, 0, .745, .715) 0s both, animate-svg-fill-1 1s cubic-bezier(.215, .61, .355, 1) 0s both;
    animation: animate-svg-stroke-1 1s cubic-bezier(.47, 0, .745, .715) 0s both, animate-svg-fill-1 1s cubic-bezier(.215, .61, .355, 1) 0s both
}

@-webkit-keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 55.2196769714px;
        stroke-dasharray: 55.2196769714px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 55.2196769714px
    }
}

@keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 55.2196769714px;
        stroke-dasharray: 55.2196769714px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 55.2196769714px
    }
}

@-webkit-keyframes animate-svg-fill-2 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-2 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-2 {
    -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(.47, 0, .745, .715) 50ms both, animate-svg-fill-2 1s cubic-bezier(.215, .61, .355, 1) 50ms both;
    animation: animate-svg-stroke-2 1s cubic-bezier(.47, 0, .745, .715) 50ms both, animate-svg-fill-2 1s cubic-bezier(.215, .61, .355, 1) 50ms both
}

@-webkit-keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 10.8317947388px;
        stroke-dasharray: 10.8317947388px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 10.8317947388px
    }
}

@keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 10.8317947388px;
        stroke-dasharray: 10.8317947388px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 10.8317947388px
    }
}

@-webkit-keyframes animate-svg-fill-3 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-3 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-3 {
    -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(.47, 0, .745, .715) .1s both, animate-svg-fill-3 1s cubic-bezier(.215, .61, .355, 1) .1s both;
    animation: animate-svg-stroke-3 1s cubic-bezier(.47, 0, .745, .715) .1s both, animate-svg-fill-3 1s cubic-bezier(.215, .61, .355, 1) .1s both
}

@-webkit-keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 54.8809967041px;
        stroke-dasharray: 54.8809967041px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 54.8809967041px
    }
}

@keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 54.8809967041px;
        stroke-dasharray: 54.8809967041px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 54.8809967041px
    }
}

@-webkit-keyframes animate-svg-fill-4 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-4 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-4 {
    -webkit-animation: animate-svg-stroke-4 1s cubic-bezier(.47, 0, .745, .715) .15s both, animate-svg-fill-4 1s cubic-bezier(.215, .61, .355, 1) .15s both;
    animation: animate-svg-stroke-4 1s cubic-bezier(.47, 0, .745, .715) .15s both, animate-svg-fill-4 1s cubic-bezier(.215, .61, .355, 1) .15s both
}

@-webkit-keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 6.9692077637px;
        stroke-dasharray: 6.9692077637px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 6.9692077637px
    }
}

@keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 6.9692077637px;
        stroke-dasharray: 6.9692077637px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 6.9692077637px
    }
}

@-webkit-keyframes animate-svg-fill-5 {
    0% {
        fill: transparent
    }

    100% {
        fill: #fff
    }
}

@keyframes animate-svg-fill-5 {
    0% {
        fill: transparent
    }

    100% {
        fill: #fff
    }
}

.svg-elem-5 {
    -webkit-animation: animate-svg-stroke-5 1s cubic-bezier(.47, 0, .745, .715) .2s both, animate-svg-fill-5 1s cubic-bezier(.215, .61, .355, 1) .2s both;
    animation: animate-svg-stroke-5 1s cubic-bezier(.47, 0, .745, .715) .2s both, animate-svg-fill-5 1s cubic-bezier(.215, .61, .355, 1) .2s both
}

@-webkit-keyframes animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 6.9692077637px;
        stroke-dasharray: 6.9692077637px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 6.9692077637px
    }
}

@keyframes animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 6.9692077637px;
        stroke-dasharray: 6.9692077637px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 6.9692077637px
    }
}

@-webkit-keyframes animate-svg-fill-6 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-6 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-6 {
    -webkit-animation: animate-svg-stroke-6 1s cubic-bezier(.47, 0, .745, .715) .25s both, animate-svg-fill-6 1s cubic-bezier(.215, .61, .355, 1) .25s both;
    animation: animate-svg-stroke-6 1s cubic-bezier(.47, 0, .745, .715) .25s both, animate-svg-fill-6 1s cubic-bezier(.215, .61, .355, 1) .25s both
}

@-webkit-keyframes animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 58.3424682617px;
        stroke-dasharray: 58.3424682617px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 58.3424682617px
    }
}

@keyframes animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 58.3424682617px;
        stroke-dasharray: 58.3424682617px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 58.3424682617px
    }
}

@-webkit-keyframes animate-svg-fill-7 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-7 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-7 {
    -webkit-animation: animate-svg-stroke-7 1s cubic-bezier(.47, 0, .745, .715) .3s both, animate-svg-fill-7 1s cubic-bezier(.215, .61, .355, 1) .3s both;
    animation: animate-svg-stroke-7 1s cubic-bezier(.47, 0, .745, .715) .3s both, animate-svg-fill-7 1s cubic-bezier(.215, .61, .355, 1) .3s both
}

@-webkit-keyframes animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 80.6187744141px;
        stroke-dasharray: 80.6187744141px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 80.6187744141px
    }
}

@keyframes animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 80.6187744141px;
        stroke-dasharray: 80.6187744141px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 80.6187744141px
    }
}

@-webkit-keyframes animate-svg-fill-8 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-8 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-8 {
    -webkit-animation: animate-svg-stroke-8 1s cubic-bezier(.47, 0, .745, .715) .35s both, animate-svg-fill-8 1s cubic-bezier(.215, .61, .355, 1) .35s both;
    animation: animate-svg-stroke-8 1s cubic-bezier(.47, 0, .745, .715) .35s both, animate-svg-fill-8 1s cubic-bezier(.215, .61, .355, 1) .35s both
}

@-webkit-keyframes animate-svg-stroke-9 {
    0% {
        stroke-dashoffset: 70.874420166px;
        stroke-dasharray: 70.874420166px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 70.874420166px
    }
}

@keyframes animate-svg-stroke-9 {
    0% {
        stroke-dashoffset: 70.874420166px;
        stroke-dasharray: 70.874420166px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 70.874420166px
    }
}

@-webkit-keyframes animate-svg-fill-9 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-9 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-9 {
    -webkit-animation: animate-svg-stroke-9 1s cubic-bezier(.47, 0, .745, .715) .4s both, animate-svg-fill-9 1s cubic-bezier(.215, .61, .355, 1) .4s both;
    animation: animate-svg-stroke-9 1s cubic-bezier(.47, 0, .745, .715) .4s both, animate-svg-fill-9 1s cubic-bezier(.215, .61, .355, 1) .4s both
}

@-webkit-keyframes animate-svg-stroke-10 {
    0% {
        stroke-dashoffset: 27.0851898193px;
        stroke-dasharray: 27.0851898193px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 27.0851898193px
    }
}

@keyframes animate-svg-stroke-10 {
    0% {
        stroke-dashoffset: 27.0851898193px;
        stroke-dasharray: 27.0851898193px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 27.0851898193px
    }
}

@-webkit-keyframes animate-svg-fill-10 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-10 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-10 {
    -webkit-animation: animate-svg-stroke-10 1s cubic-bezier(.47, 0, .745, .715) .45s both, animate-svg-fill-10 1s cubic-bezier(.215, .61, .355, 1) .45s both;
    animation: animate-svg-stroke-10 1s cubic-bezier(.47, 0, .745, .715) .45s both, animate-svg-fill-10 1s cubic-bezier(.215, .61, .355, 1) .45s both
}

@-webkit-keyframes animate-svg-stroke-11 {
    0% {
        stroke-dashoffset: 111.7261505127px;
        stroke-dasharray: 111.7261505127px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 111.7261505127px
    }
}

@keyframes animate-svg-stroke-11 {
    0% {
        stroke-dashoffset: 111.7261505127px;
        stroke-dasharray: 111.7261505127px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 111.7261505127px
    }
}

@-webkit-keyframes animate-svg-fill-11 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-11 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-11 {
    -webkit-animation: animate-svg-stroke-11 1s cubic-bezier(.47, 0, .745, .715) .5s both, animate-svg-fill-11 1s cubic-bezier(.215, .61, .355, 1) .5s both;
    animation: animate-svg-stroke-11 1s cubic-bezier(.47, 0, .745, .715) .5s both, animate-svg-fill-11 1s cubic-bezier(.215, .61, .355, 1) .5s both
}

@-webkit-keyframes animate-svg-stroke-12 {
    0% {
        stroke-dashoffset: 75.56590271px;
        stroke-dasharray: 75.56590271px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 75.56590271px
    }
}

@keyframes animate-svg-stroke-12 {
    0% {
        stroke-dashoffset: 75.56590271px;
        stroke-dasharray: 75.56590271px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 75.56590271px
    }
}

@-webkit-keyframes animate-svg-fill-12 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-12 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-12 {
    -webkit-animation: animate-svg-stroke-12 1s cubic-bezier(.47, 0, .745, .715) .55s both, animate-svg-fill-12 1s cubic-bezier(.215, .61, .355, 1) .55s both;
    animation: animate-svg-stroke-12 1s cubic-bezier(.47, 0, .745, .715) .55s both, animate-svg-fill-12 1s cubic-bezier(.215, .61, .355, 1) .55s both
}

@-webkit-keyframes animate-svg-stroke-13 {
    0% {
        stroke-dashoffset: 52.8437805176px;
        stroke-dasharray: 52.8437805176px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 52.8437805176px
    }
}

@keyframes animate-svg-stroke-13 {
    0% {
        stroke-dashoffset: 52.8437805176px;
        stroke-dasharray: 52.8437805176px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 52.8437805176px
    }
}

@-webkit-keyframes animate-svg-fill-13 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-13 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-13 {
    -webkit-animation: animate-svg-stroke-13 1s cubic-bezier(.47, 0, .745, .715) .6s both, animate-svg-fill-13 1s cubic-bezier(.215, .61, .355, 1) .6s both;
    animation: animate-svg-stroke-13 1s cubic-bezier(.47, 0, .745, .715) .6s both, animate-svg-fill-13 1s cubic-bezier(.215, .61, .355, 1) .6s both
}

@-webkit-keyframes animate-svg-stroke-14 {
    0% {
        stroke-dashoffset: 9.6243171692px;
        stroke-dasharray: 9.6243171692px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 9.6243171692px
    }
}

@keyframes animate-svg-stroke-14 {
    0% {
        stroke-dashoffset: 9.6243171692px;
        stroke-dasharray: 9.6243171692px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 9.6243171692px
    }
}

@-webkit-keyframes animate-svg-fill-14 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-14 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-14 {
    -webkit-animation: animate-svg-stroke-14 1s cubic-bezier(.47, 0, .745, .715) .65s both, animate-svg-fill-14 1s cubic-bezier(.215, .61, .355, 1) .65s both;
    animation: animate-svg-stroke-14 1s cubic-bezier(.47, 0, .745, .715) .65s both, animate-svg-fill-14 1s cubic-bezier(.215, .61, .355, 1) .65s both
}

@-webkit-keyframes animate-svg-stroke-15 {
    0% {
        stroke-dashoffset: 132.3575439453px;
        stroke-dasharray: 132.3575439453px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 132.3575439453px
    }
}

@keyframes animate-svg-stroke-15 {
    0% {
        stroke-dashoffset: 132.3575439453px;
        stroke-dasharray: 132.3575439453px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 132.3575439453px
    }
}

@-webkit-keyframes animate-svg-fill-15 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-15 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-15 {
    -webkit-animation: animate-svg-stroke-15 1s cubic-bezier(.47, 0, .745, .715) .7s both, animate-svg-fill-15 1s cubic-bezier(.215, .61, .355, 1) .7s both;
    animation: animate-svg-stroke-15 1s cubic-bezier(.47, 0, .745, .715) .7s both, animate-svg-fill-15 1s cubic-bezier(.215, .61, .355, 1) .7s both
}

@-webkit-keyframes animate-svg-stroke-16 {
    0% {
        stroke-dashoffset: 147.4253540039px;
        stroke-dasharray: 147.4253540039px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 147.4253540039px
    }
}

@keyframes animate-svg-stroke-16 {
    0% {
        stroke-dashoffset: 147.4253540039px;
        stroke-dasharray: 147.4253540039px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 147.4253540039px
    }
}

@-webkit-keyframes animate-svg-fill-16 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-16 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-16 {
    -webkit-animation: animate-svg-stroke-16 1s cubic-bezier(.47, 0, .745, .715) .75s both, animate-svg-fill-16 1s cubic-bezier(.215, .61, .355, 1) .75s both;
    animation: animate-svg-stroke-16 1s cubic-bezier(.47, 0, .745, .715) .75s both, animate-svg-fill-16 1s cubic-bezier(.215, .61, .355, 1) .75s both
}

@-webkit-keyframes animate-svg-stroke-17 {
    0% {
        stroke-dashoffset: 5.9478001595px;
        stroke-dasharray: 5.9478001595px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 5.9478001595px
    }
}

@keyframes animate-svg-stroke-17 {
    0% {
        stroke-dashoffset: 5.9478001595px;
        stroke-dasharray: 5.9478001595px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 5.9478001595px
    }
}

@-webkit-keyframes animate-svg-fill-17 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-17 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-17 {
    -webkit-animation: animate-svg-stroke-17 1s cubic-bezier(.47, 0, .745, .715) .8s both, animate-svg-fill-17 1s cubic-bezier(.215, .61, .355, 1) .8s both;
    animation: animate-svg-stroke-17 1s cubic-bezier(.47, 0, .745, .715) .8s both, animate-svg-fill-17 1s cubic-bezier(.215, .61, .355, 1) .8s both
}

@-webkit-keyframes animate-svg-stroke-18 {
    0% {
        stroke-dashoffset: 116.0350723267px;
        stroke-dasharray: 116.0350723267px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 116.0350723267px
    }
}

@keyframes animate-svg-stroke-18 {
    0% {
        stroke-dashoffset: 116.0350723267px;
        stroke-dasharray: 116.0350723267px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 116.0350723267px
    }
}

@-webkit-keyframes animate-svg-fill-18 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-18 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-18 {
    -webkit-animation: animate-svg-stroke-18 1s cubic-bezier(.47, 0, .745, .715) .85s both, animate-svg-fill-18 1s cubic-bezier(.215, .61, .355, 1) .85s both;
    animation: animate-svg-stroke-18 1s cubic-bezier(.47, 0, .745, .715) .85s both, animate-svg-fill-18 1s cubic-bezier(.215, .61, .355, 1) .85s both
}

@-webkit-keyframes animate-svg-stroke-19 {
    0% {
        stroke-dashoffset: 56.097076416px;
        stroke-dasharray: 56.097076416px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 56.097076416px
    }
}

@keyframes animate-svg-stroke-19 {
    0% {
        stroke-dashoffset: 56.097076416px;
        stroke-dasharray: 56.097076416px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 56.097076416px
    }
}

@-webkit-keyframes animate-svg-fill-19 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-19 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-19 {
    -webkit-animation: animate-svg-stroke-19 1s cubic-bezier(.47, 0, .745, .715) .9s both, animate-svg-fill-19 1s cubic-bezier(.215, .61, .355, 1) .9s both;
    animation: animate-svg-stroke-19 1s cubic-bezier(.47, 0, .745, .715) .9s both, animate-svg-fill-19 1s cubic-bezier(.215, .61, .355, 1) .9s both
}

@-webkit-keyframes animate-svg-stroke-20 {
    0% {
        stroke-dashoffset: 46.344543457px;
        stroke-dasharray: 46.344543457px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 46.344543457px
    }
}

@keyframes animate-svg-stroke-20 {
    0% {
        stroke-dashoffset: 46.344543457px;
        stroke-dasharray: 46.344543457px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 46.344543457px
    }
}

@-webkit-keyframes animate-svg-fill-20 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-20 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-20 {
    -webkit-animation: animate-svg-stroke-20 1s cubic-bezier(.47, 0, .745, .715) .95s both, animate-svg-fill-20 1s cubic-bezier(.215, .61, .355, 1) .95s both;
    animation: animate-svg-stroke-20 1s cubic-bezier(.47, 0, .745, .715) .95s both, animate-svg-fill-20 1s cubic-bezier(.215, .61, .355, 1) .95s both
}

@-webkit-keyframes animate-svg-stroke-21 {
    0% {
        stroke-dashoffset: 140.8014678955px;
        stroke-dasharray: 140.8014678955px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 140.8014678955px
    }
}

@keyframes animate-svg-stroke-21 {
    0% {
        stroke-dashoffset: 140.8014678955px;
        stroke-dasharray: 140.8014678955px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 140.8014678955px
    }
}

@-webkit-keyframes animate-svg-fill-21 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-21 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-21 {
    -webkit-animation: animate-svg-stroke-21 1s cubic-bezier(.47, 0, .745, .715) 1s both, animate-svg-fill-21 1s cubic-bezier(.215, .61, .355, 1) 1s both;
    animation: animate-svg-stroke-21 1s cubic-bezier(.47, 0, .745, .715) 1s both, animate-svg-fill-21 1s cubic-bezier(.215, .61, .355, 1) 1s both
}

@-webkit-keyframes animate-svg-stroke-22 {
    0% {
        stroke-dashoffset: 6.2416853905px;
        stroke-dasharray: 6.2416853905px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 6.2416853905px
    }
}

@keyframes animate-svg-stroke-22 {
    0% {
        stroke-dashoffset: 6.2416853905px;
        stroke-dasharray: 6.2416853905px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 6.2416853905px
    }
}

@-webkit-keyframes animate-svg-fill-22 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-22 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-22 {
    -webkit-animation: animate-svg-stroke-22 1s cubic-bezier(.47, 0, .745, .715) 1.05s both, animate-svg-fill-22 1s cubic-bezier(.215, .61, .355, 1) 1.05s both;
    animation: animate-svg-stroke-22 1s cubic-bezier(.47, 0, .745, .715) 1.05s both, animate-svg-fill-22 1s cubic-bezier(.215, .61, .355, 1) 1.05s both
}

@-webkit-keyframes animate-svg-stroke-23 {
    0% {
        stroke-dashoffset: 150.9132537842px;
        stroke-dasharray: 150.9132537842px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 150.9132537842px
    }
}

@keyframes animate-svg-stroke-23 {
    0% {
        stroke-dashoffset: 150.9132537842px;
        stroke-dasharray: 150.9132537842px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 150.9132537842px
    }
}

@-webkit-keyframes animate-svg-fill-23 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-23 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-23 {
    -webkit-animation: animate-svg-stroke-23 1s cubic-bezier(.47, 0, .745, .715) 1.1s both, animate-svg-fill-23 1s cubic-bezier(.215, .61, .355, 1) 1.1s both;
    animation: animate-svg-stroke-23 1s cubic-bezier(.47, 0, .745, .715) 1.1s both, animate-svg-fill-23 1s cubic-bezier(.215, .61, .355, 1) 1.1s both
}

@-webkit-keyframes animate-svg-stroke-24 {
    0% {
        stroke-dashoffset: 34.7095870972px;
        stroke-dasharray: 34.7095870972px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 34.7095870972px
    }
}

@keyframes animate-svg-stroke-24 {
    0% {
        stroke-dashoffset: 34.7095870972px;
        stroke-dasharray: 34.7095870972px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 34.7095870972px
    }
}

@-webkit-keyframes animate-svg-fill-24 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-24 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-24 {
    -webkit-animation: animate-svg-stroke-24 1s cubic-bezier(.47, 0, .745, .715) 1.15s both, animate-svg-fill-24 1s cubic-bezier(.215, .61, .355, 1) 1.15s both;
    animation: animate-svg-stroke-24 1s cubic-bezier(.47, 0, .745, .715) 1.15s both, animate-svg-fill-24 1s cubic-bezier(.215, .61, .355, 1) 1.15s both
}

@-webkit-keyframes animate-svg-stroke-25 {
    0% {
        stroke-dashoffset: 59.0823287964px;
        stroke-dasharray: 59.0823287964px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 59.0823287964px
    }
}

@keyframes animate-svg-stroke-25 {
    0% {
        stroke-dashoffset: 59.0823287964px;
        stroke-dasharray: 59.0823287964px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 59.0823287964px
    }
}

@-webkit-keyframes animate-svg-fill-25 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-25 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-25 {
    -webkit-animation: animate-svg-stroke-25 1s cubic-bezier(.47, 0, .745, .715) 1.2s both, animate-svg-fill-25 1s cubic-bezier(.215, .61, .355, 1) 1.2s both;
    animation: animate-svg-stroke-25 1s cubic-bezier(.47, 0, .745, .715) 1.2s both, animate-svg-fill-25 1s cubic-bezier(.215, .61, .355, 1) 1.2s both
}

@-webkit-keyframes animate-svg-stroke-26 {
    0% {
        stroke-dashoffset: 58.2410812378px;
        stroke-dasharray: 58.2410812378px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 58.2410812378px
    }
}

@keyframes animate-svg-stroke-26 {
    0% {
        stroke-dashoffset: 58.2410812378px;
        stroke-dasharray: 58.2410812378px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 58.2410812378px
    }
}

@-webkit-keyframes animate-svg-fill-26 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-26 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-26 {
    -webkit-animation: animate-svg-stroke-26 1s cubic-bezier(.47, 0, .745, .715) 1.25s both, animate-svg-fill-26 1s cubic-bezier(.215, .61, .355, 1) 1.25s both;
    animation: animate-svg-stroke-26 1s cubic-bezier(.47, 0, .745, .715) 1.25s both, animate-svg-fill-26 1s cubic-bezier(.215, .61, .355, 1) 1.25s both
}

@-webkit-keyframes animate-svg-stroke-27 {
    0% {
        stroke-dashoffset: 78.3869018555px;
        stroke-dasharray: 78.3869018555px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 78.3869018555px
    }
}

@keyframes animate-svg-stroke-27 {
    0% {
        stroke-dashoffset: 78.3869018555px;
        stroke-dasharray: 78.3869018555px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 78.3869018555px
    }
}

@-webkit-keyframes animate-svg-fill-27 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-27 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-27 {
    -webkit-animation: animate-svg-stroke-27 1s cubic-bezier(.47, 0, .745, .715) 1.3s both, animate-svg-fill-27 1s cubic-bezier(.215, .61, .355, 1) 1.3s both;
    animation: animate-svg-stroke-27 1s cubic-bezier(.47, 0, .745, .715) 1.3s both, animate-svg-fill-27 1s cubic-bezier(.215, .61, .355, 1) 1.3s both
}

@-webkit-keyframes animate-svg-stroke-28 {
    0% {
        stroke-dashoffset: 13.5004291534px;
        stroke-dasharray: 13.5004291534px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 13.5004291534px
    }
}

@keyframes animate-svg-stroke-28 {
    0% {
        stroke-dashoffset: 13.5004291534px;
        stroke-dasharray: 13.5004291534px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 13.5004291534px
    }
}

@-webkit-keyframes animate-svg-fill-28 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-28 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-28 {
    -webkit-animation: animate-svg-stroke-28 1s cubic-bezier(.47, 0, .745, .715) 1.35s both, animate-svg-fill-28 1s cubic-bezier(.215, .61, .355, 1) 1.35s both;
    animation: animate-svg-stroke-28 1s cubic-bezier(.47, 0, .745, .715) 1.35s both, animate-svg-fill-28 1s cubic-bezier(.215, .61, .355, 1) 1.35s both
}

@-webkit-keyframes animate-svg-stroke-29 {
    0% {
        stroke-dashoffset: 199.4392089844px;
        stroke-dasharray: 199.4392089844px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 199.4392089844px
    }
}

@keyframes animate-svg-stroke-29 {
    0% {
        stroke-dashoffset: 199.4392089844px;
        stroke-dasharray: 199.4392089844px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 199.4392089844px
    }
}

@-webkit-keyframes animate-svg-fill-29 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-29 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-29 {
    -webkit-animation: animate-svg-stroke-29 1s cubic-bezier(.47, 0, .745, .715) 1.4s both, animate-svg-fill-29 1s cubic-bezier(.215, .61, .355, 1) 1.4s both;
    animation: animate-svg-stroke-29 1s cubic-bezier(.47, 0, .745, .715) 1.4s both, animate-svg-fill-29 1s cubic-bezier(.215, .61, .355, 1) 1.4s both
}

@-webkit-keyframes animate-svg-stroke-30 {
    0% {
        stroke-dashoffset: 70.6430206299px;
        stroke-dasharray: 70.6430206299px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 70.6430206299px
    }
}

@keyframes animate-svg-stroke-30 {
    0% {
        stroke-dashoffset: 70.6430206299px;
        stroke-dasharray: 70.6430206299px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 70.6430206299px
    }
}

@-webkit-keyframes animate-svg-fill-30 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-30 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-30 {
    -webkit-animation: animate-svg-stroke-30 1s cubic-bezier(.47, 0, .745, .715) 1.45s both, animate-svg-fill-30 1s cubic-bezier(.215, .61, .355, 1) 1.45s both;
    animation: animate-svg-stroke-30 1s cubic-bezier(.47, 0, .745, .715) 1.45s both, animate-svg-fill-30 1s cubic-bezier(.215, .61, .355, 1) 1.45s both
}

@-webkit-keyframes animate-svg-stroke-31 {
    0% {
        stroke-dashoffset: 134.3617095947px;
        stroke-dasharray: 134.3617095947px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 134.3617095947px
    }
}

@keyframes animate-svg-stroke-31 {
    0% {
        stroke-dashoffset: 134.3617095947px;
        stroke-dasharray: 134.3617095947px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 134.3617095947px
    }
}

@-webkit-keyframes animate-svg-fill-31 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-31 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-31 {
    -webkit-animation: animate-svg-stroke-31 1s cubic-bezier(.47, 0, .745, .715) 1.5s both, animate-svg-fill-31 1s cubic-bezier(.215, .61, .355, 1) 1.5s both;
    animation: animate-svg-stroke-31 1s cubic-bezier(.47, 0, .745, .715) 1.5s both, animate-svg-fill-31 1s cubic-bezier(.215, .61, .355, 1) 1.5s both
}

@-webkit-keyframes animate-svg-stroke-32 {
    0% {
        stroke-dashoffset: 27.928565979px;
        stroke-dasharray: 27.928565979px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 27.928565979px
    }
}

@keyframes animate-svg-stroke-32 {
    0% {
        stroke-dashoffset: 27.928565979px;
        stroke-dasharray: 27.928565979px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 27.928565979px
    }
}

@-webkit-keyframes animate-svg-fill-32 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-32 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-32 {
    -webkit-animation: animate-svg-stroke-32 1s cubic-bezier(.47, 0, .745, .715) 1.55s both, animate-svg-fill-32 1s cubic-bezier(.215, .61, .355, 1) 1.55s both;
    animation: animate-svg-stroke-32 1s cubic-bezier(.47, 0, .745, .715) 1.55s both, animate-svg-fill-32 1s cubic-bezier(.215, .61, .355, 1) 1.55s both
}

@-webkit-keyframes animate-svg-stroke-33 {
    0% {
        stroke-dashoffset: 157.8376464844px;
        stroke-dasharray: 157.8376464844px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 157.8376464844px
    }
}

@keyframes animate-svg-stroke-33 {
    0% {
        stroke-dashoffset: 157.8376464844px;
        stroke-dasharray: 157.8376464844px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 157.8376464844px
    }
}

@-webkit-keyframes animate-svg-fill-33 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-33 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-33 {
    -webkit-animation: animate-svg-stroke-33 1s cubic-bezier(.47, 0, .745, .715) 1.6s both, animate-svg-fill-33 1s cubic-bezier(.215, .61, .355, 1) 1.6s both;
    animation: animate-svg-stroke-33 1s cubic-bezier(.47, 0, .745, .715) 1.6s both, animate-svg-fill-33 1s cubic-bezier(.215, .61, .355, 1) 1.6s both
}

@-webkit-keyframes animate-svg-stroke-34 {
    0% {
        stroke-dashoffset: 92.2102661133px;
        stroke-dasharray: 92.2102661133px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 92.2102661133px
    }
}

@keyframes animate-svg-stroke-34 {
    0% {
        stroke-dashoffset: 92.2102661133px;
        stroke-dasharray: 92.2102661133px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 92.2102661133px
    }
}

@-webkit-keyframes animate-svg-fill-34 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-34 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-34 {
    -webkit-animation: animate-svg-stroke-34 1s cubic-bezier(.47, 0, .745, .715) 1.65s both, animate-svg-fill-34 1s cubic-bezier(.215, .61, .355, 1) 1.65s both;
    animation: animate-svg-stroke-34 1s cubic-bezier(.47, 0, .745, .715) 1.65s both, animate-svg-fill-34 1s cubic-bezier(.215, .61, .355, 1) 1.65s both
}

@-webkit-keyframes animate-svg-stroke-35 {
    0% {
        stroke-dashoffset: 61.5010871887px;
        stroke-dasharray: 61.5010871887px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 61.5010871887px
    }
}

@keyframes animate-svg-stroke-35 {
    0% {
        stroke-dashoffset: 61.5010871887px;
        stroke-dasharray: 61.5010871887px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 61.5010871887px
    }
}

@-webkit-keyframes animate-svg-fill-35 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-35 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-35 {
    -webkit-animation: animate-svg-stroke-35 1s cubic-bezier(.47, 0, .745, .715) 1.7s both, animate-svg-fill-35 1s cubic-bezier(.215, .61, .355, 1) 1.7s both;
    animation: animate-svg-stroke-35 1s cubic-bezier(.47, 0, .745, .715) 1.7s both, animate-svg-fill-35 1s cubic-bezier(.215, .61, .355, 1) 1.7s both
}

@-webkit-keyframes animate-svg-stroke-36 {
    0% {
        stroke-dashoffset: 8.3094353676px;
        stroke-dasharray: 8.3094353676px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 8.3094353676px
    }
}

@keyframes animate-svg-stroke-36 {
    0% {
        stroke-dashoffset: 8.3094353676px;
        stroke-dasharray: 8.3094353676px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 8.3094353676px
    }
}

@-webkit-keyframes animate-svg-fill-36 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-36 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-36 {
    -webkit-animation: animate-svg-stroke-36 1s cubic-bezier(.47, 0, .745, .715) 1.75s both, animate-svg-fill-36 1s cubic-bezier(.215, .61, .355, 1) 1.75s both;
    animation: animate-svg-stroke-36 1s cubic-bezier(.47, 0, .745, .715) 1.75s both, animate-svg-fill-36 1s cubic-bezier(.215, .61, .355, 1) 1.75s both
}

@-webkit-keyframes animate-svg-stroke-37 {
    0% {
        stroke-dashoffset: 79.0550765991px;
        stroke-dasharray: 79.0550765991px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 79.0550765991px
    }
}

@keyframes animate-svg-stroke-37 {
    0% {
        stroke-dashoffset: 79.0550765991px;
        stroke-dasharray: 79.0550765991px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 79.0550765991px
    }
}

@-webkit-keyframes animate-svg-fill-37 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-37 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-37 {
    -webkit-animation: animate-svg-stroke-37 1s cubic-bezier(.47, 0, .745, .715) 1.8s both, animate-svg-fill-37 1s cubic-bezier(.215, .61, .355, 1) 1.8s both;
    animation: animate-svg-stroke-37 1s cubic-bezier(.47, 0, .745, .715) 1.8s both, animate-svg-fill-37 1s cubic-bezier(.215, .61, .355, 1) 1.8s both
}

@-webkit-keyframes animate-svg-stroke-38 {
    0% {
        stroke-dashoffset: 62.6106643677px;
        stroke-dasharray: 62.6106643677px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 62.6106643677px
    }
}

@keyframes animate-svg-stroke-38 {
    0% {
        stroke-dashoffset: 62.6106643677px;
        stroke-dasharray: 62.6106643677px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 62.6106643677px
    }
}

@-webkit-keyframes animate-svg-fill-38 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-38 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-38 {
    -webkit-animation: animate-svg-stroke-38 1s cubic-bezier(.47, 0, .745, .715) 1.85s both, animate-svg-fill-38 1s cubic-bezier(.215, .61, .355, 1) 1.85s both;
    animation: animate-svg-stroke-38 1s cubic-bezier(.47, 0, .745, .715) 1.85s both, animate-svg-fill-38 1s cubic-bezier(.215, .61, .355, 1) 1.85s both
}

@-webkit-keyframes animate-svg-stroke-39 {
    0% {
        stroke-dashoffset: 23.835193634px;
        stroke-dasharray: 23.835193634px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 23.835193634px
    }
}

@keyframes animate-svg-stroke-39 {
    0% {
        stroke-dashoffset: 23.835193634px;
        stroke-dasharray: 23.835193634px
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 23.835193634px
    }
}

@-webkit-keyframes animate-svg-fill-39 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

@keyframes animate-svg-fill-39 {
    0% {
        fill: transparent
    }

    100% {
        fill: #333
    }
}

.svg-elem-39 {
    -webkit-animation: animate-svg-stroke-39 1s cubic-bezier(.47, 0, .745, .715) 1.9s both, animate-svg-fill-39 1s cubic-bezier(.215, .61, .355, 1) 1.9s both;
    animation: animate-svg-stroke-39 1s cubic-bezier(.47, 0, .745, .715) 1.9s both, animate-svg-fill-39 1s cubic-bezier(.215, .61, .355, 1) 1.9s both
}

.swiper {
    overflow: hidden
}

.swiper-initialized {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.swiper-vertical .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.swiper-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-button-lock {
    display: none !important
}

@media (max-width:479px) {
    .preloader__inner {
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7)
    }
}