// Брейк-поинты
$md1: em(1199.98); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md2: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$md3: em(767.98); // Телефоны L
$md4: em(479.98); // Телефоны S
$md5: em(649.98); // Телефоны S

:root {
    --black-pure: #000;
    --white-pure: #fff;

    --white: #dedfe2;
    --white-darker: #fefeff;
    --white-dark: #b3b4bb;
    --black-dark: #111;
    --secondary: #04091c;
    --blue: #131729;
    --blue-light: #1F89D4;
    --blue-dark: #101828;
    --blue-lightest: #eaeff3;
    --orange: #fd9e28;
    --orange-dark: #de8b27;
    --green: #90d45f;
    --green-darkest: #2b9086;
    --green-darken: #55A69E;
    --red: #da1e05;
    --gray: #535459;
    --gray-lightest: #f7f9fb;
    --gray-light: #82848e;
    --gray-lighter: #f4f6f8;
    --cream: #f9d2c0;
    --violet: #5b58e9;
    --yellow: #ffcc00;

    --gradient-dark: linear-gradient(0deg, #04091c, #04091c),
        linear-gradient(0deg, #fff, #fff),
        #fff;


    --main-color: var(--white);

    //sizes
    --title-offsize: 2.25rem;
    --suptitle-offsize: 1.5rem;

    --add-offsize: 1rem;

    @media (min-width:$md4) {
        --main-offsize: 1.3125rem;
    }

    @media (max-width:$md4) {
        --main-offsize: 1.125rem;
    }

    --spinner-size: 8px;
}