.description-about {
    @media (min-width:$md3) {
        padding: 100px 0;
    }

    @media (max-width:$md3) {
        padding: 60px 0;
    }

    background-color: var(--orange);
    color: var(--black-dark);

    // .description-about__container
    &__container {}

    // .description-about__body
    &__body {
        max-width: 780px;
    }

    // .description-about__title
    &__title {
        margin-bottom: 20px;

        text-align: left;
        color: var(--black-dark);
    }

    // .description-about__text
    &__text {
        line-height: math.div(33, 21);
        opacity: .8;
    }
}