.terms {
    color: var(--black-dark);

    // .terms__container
    &__container {
        max-width: 800px;
    }

    // .terms__top
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width:$md3) {
            margin-bottom: 80px;
        }

        @media (max-width:$md3) {
            margin-bottom: 60px;
        }
    }

    // .terms__go-back
    &__go-back {
        display: grid;
        align-items: center;
        grid-template-columns: 14px auto;
        gap: 10px;

        font-size: 18px;
        font-weight: 600;
        line-height: math.div(22, 18);

        opacity: 0.5;

        transition: opacity .4s ease;

        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
            }
        }

        @media (min-width:$md3) {
            margin-bottom: 35px;
        }

        @media (max-width:$md3) {
            margin-bottom: 20px;
        }
    }

    // .terms__title
    &__title {
        text-align: center;
        @include adaptiveValue("font-size", 64, 48, 0, 1300, 650);
        line-height: math.div(72, 64);
        font-weight: 600;
        letter-spacing: -0.04em;
        color: var(--secondary);

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    // .terms__revision
    &__revision {
        font-size: 18px;
        font-weight: 600;
        line-height: math.div(22, 18);

        opacity: 0.5;
    }


    // .terms__desrc
    &__desrc {
        line-height: math.div(33, 21);

        @media (min-width:$md3) {
            margin-bottom: 60px;
        }

        @media (max-width:$md3) {
            margin-bottom: 40px;
        }
    }

    // .terms__body
    &__body {}

    // .terms__block
    &__block {
        &:not(:last-child) {
            @media (min-width:$md3) {
                margin-bottom: 60px;
            }

            @media (max-width:$md3) {
                margin-bottom: 40px;
            }
        }

        h2,
        h3,
        h4 {
            font-weight: 600;
            line-height: math.div(32, 24);
            letter-spacing: -.01em;

            @media (min-width:$md3) {
                font-size: 24px;
            }

            @media (max-width:$md3) {
                font-size: 22px;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        p {
            font-size: 18px;
            line-height: math.div(28, 18);
            opacity: 0.8;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        a {
            color: var(--orange);

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}