<section class="page__challenge challenge">
    <div class="challenge__container">
        <div class="challenge__body">
            <div class="challenge__info challenge__info--wider">
                <h2 class="challenge__title">The Challenge</h2>
                <p class="challenge__descr challenge__descr--smaller">The client's after-sales service was causing frustration for their customers. The process of requesting repairs was time-consuming and inefficient, as customers had to call or email customer service. Furthermore, the company's manual tracking system occasionally experienced inaccuracies, leading to minor delays and extra costs.</p>
            </div>
        </div>
    </div>
</section>
<!-- /.challenge -->