<section class="page__hero-case hero-case hero-case--rma">
    <div class="hero-case__container">
        <div class="hero-case__body">
            <div class="hero-case__content hero-case__content--rma">
                <a href="#" class="hero-case__back-link">
                    <svg width="14" height="14">
                        <use xlink:href="img/icons/icons.svg#svg-arr-left"></use>
                    </svg>
                    <span>All Case Studies</span>
                </a>
                <div class="hero-case__descr">
                    <div class="hero-case__text">
                        <span>Customer Comfort for a Leading Manufacturer:</span>
                        How Hyperio's Solution Improved Efficiency & Transparency
                    </div>
                    <p class="hero-case__note">UI/UX Design, Platform development, Frontend/Backend</p>
                </div>
            </div>
            <div class="hero-case__image hero-case__image--rma">
                <img src="@img/casy-study/rma-app-case/barcode.jpg" width="680" height="586" alt="">
                <div class="hero-case__image-caption">
                    <svg width="70" height="70">
                        <use xlink:href="img/icons/icons.svg#svg-rma-caption"></use>
                    </svg>
                    <p>Integrated with Swiss Post Barcode API</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.hero-case -->