<section class="page__metrics metrics">
    <div class="metrics__container">
        <div class="metrics__top">
            <p class="metrics__suptitle suptitle">Impact</p>
            <h2 class="metrics__title title">The impact of our after-sales platform was significant for both the client and their customers.</h2>
            <p class="metrics__text">
                For the end customer, the platform led to an easy and convenient way to register their products and request repairs, reducing the time and effort required to get the repairs they needed. The platform also provided greater transparency for customers, allowing them to view the status of their repair and building trust and loyalty with the company
            </p>
        </div>
        <div class="metrics__items">
            <div class="metrics__item item-metrics item-metrics--rma">
                <h3 class="item-metrics__title item-metrics__title--fleet">Increase customer loyalty</h3>
                <p class="item-metrics__descr item-metrics__descr--wide">A transparent RMA system builds trust among the customers.</p>
                <img decoding="async" loading="lazy" class="item-metrics__decor" src="@img/steps/d-blue.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="metrics__item item-metrics item-metrics--rma">
                <h3 class="item-metrics__title item-metrics__title--fleet">Better RMA <br> management</h3>
                <p class="item-metrics__descr item-metrics__descr--wide">Solid traceability of returns and analytics about defects.</p>
                <img decoding="async" loading="lazy" class="item-metrics__decor" src="@img/steps/d-orange.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="metrics__item item-metrics item-metrics--rma">
                <h3 class="item-metrics__title item-metrics__title--fleet">Enhanced <br> accuracy</h3>
                <p class="item-metrics__descr item-metrics__descr--wide">Reducing the processing complexity makes it faster and more secure for the company.</p>
                <img decoding="async" loading="lazy" class="item-metrics__decor" src="@img/steps/d-green.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
        </div>
        <p class="metrics__text metrics__text--rma">Overall, our after-sales platform had a positive impact on both the client and their customers, demonstrating the value of investing in custom software solutions to address business challenges.</p>
        <div class="metrics__cta">
            <h3 class="metrics__caption title">Call us today to discover how we can optimize your sales processes</h3>
            <a href="#" class="metrics__button button button--filled">
                <svg width="16" height="16">
                    <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                <span>Schedule your consultation</span>
            </a>
        </div>
    </div>
</section>
<!-- /.metrics -->