<section class="page__review-case review-case">
    <div class="review-case__container">
        <div class="review-case__body">
            <div class="review-case__decor">
                <svg width="56" height="44">
                    <use xlink:href="img/icons/icons.svg#svg-quotes"></use>
                </svg>
            </div>
            <p class="review-case__text">“We are happy to be able to participate in this pilot project and to have received the support of the Swiss Digital Administration. The proper functioning of a democracy starts at the communal level. It is crucial to encourage the population, and in particular, the new generations, to participate in the democratic process. Citympact offers an innovative solution to increase this participation.”</p>
            <div class="review-case__photo">
                <img src="@img/casy-study/review-case.png" width="200" height="200" alt="Awesome image">
            </div>
            <div class="review-case__about">
                <p>Xavier Lavanchy</p>
                <p>President of the Municipality of&nbsp;Saint-Maurice</p>
            </div>
        </div>
    </div>
</section>
<!-- /.review-case -->