<section class="page__rma-case single-case">
    <div class="single-case__container">
        <div class="single-case__row">
            <div class="single-case__technologies single-case__technologies--rma">
                <p class="single-case__suptitle single-case__suptitle--violet">Our Solution</p>
                <h2 class="single-case__title single-case__title--big title">A modern and streamlined after-sales platform</h2>
                <p class="single-case__descr">We developed a solution that streamlines the after-sales service process, making it easier and more convenient for customers while reducing costs for the company. </p>
                <h3 class="single-case__label">Built with reliable and time-tested frameworks</h3>
                <div class="single-case__logos-technologies">
                    <div class="single-case__logo-technologies">
                        <img src="@img/casy-study/covid-case/technologies/android.png" width="113" height="26" alt="Awesome image">
                    </div>
                    <div class="single-case__logo-technologies">
                        <img src="@img/casy-study/covid-case/technologies/java.svg" width="110" height="55" alt="Awesome image">
                    </div>
                    <div class="single-case__logo-technologies">
                        <img src="@img/casy-study/covid-case/technologies/mysql.svg" width="148" height="38" alt="Awesome image">
                    </div>
                </div>
            </div>
            <div class="single-case__image">
                <img src="@img/casy-study/rma-app-case/solution.png" width="592" height="788" alt="Awesome image">
            </div>
        </div>

        <div class="single-case__rows single-case__rows--narrow">
            <div class="single-case__item item-row-case item-row-case--fleet">
                <div class="item-row-case__image item-row-case__image--narrow">
                    <img src="@img/casy-study/rma-app-case/r-01.png" width="350" height="750" alt="Awesome image">
                </div>
                <div class="item-row-case__content item-row-case__content--no-padding item-row-case__content--no-padding">
                    <h3 class="item-row-case__title title">A user-friendly platform with clean UI’s</h3>
                    <p class="item-row-case__text item-row-case__text--narrow">The platform provides real-time data on job sites and vehicle fleet status, enabling better decision-making and resource allocation. Easy for customers to use while providing all the necessary visual information and features</p>
                </div>
            </div>
            <div class="single-case__item item-row-case item-row-case--fleet">
                <div class="item-row-case__image item-row-case__image--narrow">
                    <img src="@img/casy-study/rma-app-case/r-02.png" width="350" height="750" alt="Awesome image">
                </div>
                <div class="item-row-case__content item-row-case__content--no-padding">
                    <h3 class="item-row-case__title title">Clear views of different customer requests</h3>
                    <p class="item-row-case__text item-row-case__text--narrow">The platform shows real-time data on job sites and vehicle fleet status, enabling better decision-making and resource allocation.</p>
                </div>
            </div>
        </div>
        <div class="single-case__technologies single-case__technologies--full-width">
            <p class="single-case__suptitle single-case__suptitle--violet">Our Solution</p>
            <h2 class="single-case__title single-case__title--big title">A modern and streamlined after-sales platform</h2>
            <p class="single-case__descr">We developed a solution that streamlines the after-sales service process, making it easier and more convenient for customers while reducing costs for the company. </p>
            <div class="single-case__rma-dashboard">
                <img src="@img/casy-study/rma-app-case/rma-dashboard.svg" width="1240" height="826" alt="Awesome image">
            </div>
            <h3 class="single-case__label">Built with reliable and time-tested frameworks</h3>
            <div class="single-case__logos-technologies">
                <div class="single-case__logo-technologies">
                    <img src="@img/casy-study/covid-case/technologies/android.png" width="113" height="26" alt="Awesome image">
                </div>
                <div class="single-case__logo-technologies">
                    <img src="@img/casy-study/covid-case/technologies/java.svg" width="110" height="55" alt="Awesome image">
                </div>
                <div class="single-case__logo-technologies">
                    <img src="@img/casy-study/covid-case/technologies/mysql.svg" width="148" height="38" alt="Awesome image">
                </div>
            </div>
        </div>
        <div class="single-case__apis">
            <div class="single-case__apis-top">
                <p class="single-case__suptitle single-case__suptitle--violet">Integrations</p>
                <h2 class="single-case__title title">Fully integrated with the latest API’s</h2>
            </div>
            <div class="single-case__items-apis">
                <div class="single-case__item-api">
                    <h3 class="single-case__title title">Invoicing API</h3>
                    <p class="single-case__descr-api">Each invoice is on-demand imported from the client's invoicing application in order to verify the validity of the warranty.</p>
                </div>
                <div class="single-case__item-api">
                    <h3 class="single-case__title title">Swiss Post API</h3>
                    <p class="single-case__descr-api">To facilitate the shipping process and allow customers to track their packages anytime, the Swiss Post APIwas integrated.</p>
                </div>
                <div class="single-case__item-api">
                    <h3 class="single-case__title title">Six Saferpay API</h3>
                    <p class="single-case__descr-api">For repairs subject to a fee, the platform offers the ability to pay by credit card using the Six Saferpay JSON API.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.covid-case -->