<section class="page__growth-insights growth-insights">
    <div class="growth-insights__container">
        <div class="growth-insights__icon">
            <svg width="48" height="48">
                <use xlink:href="img/icons/icons.svg#svg-lotus"></use>
            </svg>
        </div>
        <h2 class="growth-insights__title title">Hyperio <br> Growth Insights</h2>
        <div class="growth-insights__body">
            <article class="growth-insights__item item-growth">
                <div class="item-growth__image">
                    <img src="@img/blog/gr-01.svg" width="327" height="408" alt="Awesome image">
                </div>
                <p class="item-growth__group">Free resource</p>
                <h3 class="item-growth__label">Five counter-intuitive facts about programming</h3>
                <a href="" class="item-growth__button button button--outline-dark">
                    <span>Download .PDF</span>
                    <svg width="14" height="14">
                        <use xlink:href="img/icons/icons.svg#svg-arr-down"></use>
                    </svg>
                </a>
            </article>
            <article class="growth-insights__item item-growth">
                <div class="item-growth__image">
                    <img src="@img/blog/gr-02.svg" width="327" height="408" alt="Awesome image">
                </div>
                <p class="item-growth__group">Free resource</p>
                <h3 class="item-growth__label">Prototype, Proof of Concept or MVP – Which one is best for you?</h3>
                <a href="" class="item-growth__button button button--outline-dark">
                    <span>Download .PDF</span>
                    <svg width="14" height="14">
                        <use xlink:href="img/icons/icons.svg#svg-arr-down"></use>
                    </svg>
                </a>
            </article>
            <article class="growth-insights__item item-growth">
                <div class="item-growth__image">
                    <img src="@img/blog/gr-03.jpg" width="327" height="408" alt="Awesome image">
                </div>
                <p class="item-growth__group">Free resource</p>
                <h3 class="item-growth__label">10 ways in which Software Development brings ideas to life</h3>
                <a href="" class="item-growth__button button button--outline-dark">
                    <span>Download .PDF</span>
                    <svg width="14" height="14">
                        <use xlink:href="img/icons/icons.svg#svg-arr-down"></use>
                    </svg>
                </a>
            </article>

            <article class="growth-insights__item item-growth">
                <div class="item-growth__image">
                    <img src="@img/blog/gr-04.svg" width="327" height="408" alt="Awesome image">
                </div>
                <p class="item-growth__group">Free resource</p>
                <h3 class="item-growth__label">The 12 Essential Tools to Master for great UI Design Layouts</h3>
                <a href="" class="item-growth__button button button--outline-dark">
                    <span>Download .PDF</span>
                    <svg width="14" height="14">
                        <use xlink:href="img/icons/icons.svg#svg-arr-down"></use>
                    </svg>
                </a>
            </article>

            <article class="growth-insights__item item-growth">
                <div class="item-growth__image">
                    <img src="@img/blog/gr-05.svg" width="327" height="408" alt="Awesome image">
                </div>
                <p class="item-growth__group item-growth__group--green">
                    <img src="@img/icons/clock-transparent.svg" width="16" height="16" alt="Awesome image">
                    <span>Available from Aug 20</span>
                </p>
                <h3 class="item-growth__label">Prototype, Proof of Concept or MVP – Which one is best for you?</h3>
                <a href="" class="item-growth__button button button--filled-green">
                    <svg width="24" height="24">
                        <use xlink:href="img/icons/icons.svg#svg-ring"></use>
                    </svg>
                    <span>Notify me</span>
                    <svg width="11" height="11">
                        <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                    </svg>
                </a>
            </article>

            <article class="growth-insights__item item-growth">
                <div class="item-growth__image">
                    <img src="@img/blog/gr-06.svg" width="327" height="408" alt="Awesome image">
                </div>
                <p class="item-growth__group item-growth__group--green">
                    <img src="@img/icons/clock-transparent.svg" width="16" height="16" alt="Awesome image">
                    <span>Available from Sep 14</span>
                </p>
                <h3 class="item-growth__label">10 ways in which Software Development brings ideas to life</h3>
                <a href="" class="item-growth__button button button--filled-green">
                    <svg width="24" height="24">
                        <use xlink:href="img/icons/icons.svg#svg-ring"></use>
                    </svg>
                    <span>Notify me</span>
                    <svg width="11" height="11">
                        <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                    </svg>
                </a>
            </article>
        </div>
    </div>
</section>
<!-- /.growth-insights -->