<section class="page__about about-case">
    <div class="about-case__container">
        <div class="about-case__body">
            <p class="about-case__suptitle">Hyperio x Citympact</p>
            <h2 class="about-case__title">A modern platform adapted to the younger generation of citizens</h2>
            <p class="about-case__descr">Citympact is an interactive web platform developed by Hyperio to promote youth civic engagement. The platform is designed to allow municipalities to propose projects and tailor-made questions, while users can give their opinion by supporting projects, proposing new ideas, and posting comments. </p>
        </div>
        <div class="about-case__image">
            <img src="@img/casy-study/about.png" width="1167" height="371" alt="Awesome image">
        </div>
    </div>
</section>
<!-- /.about -->