<section class="page__challenge challenge">
    <div class="challenge__container">
        <div class="challenge__body">
            <div class="challenge__info">
                <h2 class="challenge__title">The Challenge</h2>
                <p class="challenge__descr challenge__descr--bigger">Municipalities are noticing a certain disengagement from politics among the younger citizens.</p>
            </div>
            <div class="challenge__image">
                <img src="@img/casy-study/challenge-2.svg" loading="lazy" decoding="async" width="362" height="338" alt="Awesome image">
            </div>
        </div>
    </div>
</section>
<!-- /.challenge -->