<section class="page__engagement engagement">
    <div class="engagement__container">
        <div class="engagement__top" data-watch data-animate="fade-in">
            <h2 class="engagement__title">Maximize the engagement of young citizens in local politics</h2>
            <p class="engagement__subtitle">The platform allows users to interact anonymously with the platform while promoting user registration to increase the credibility of their feedback. The <br>
                platform also uses the methods of successful social networks to maximize user engagement.</p>
        </div>
        <div class="engagement__body">
            <div class="engagement__item" data-watch data-animate="fade-in">
                <div class="engagement__image">
                    <img src="@img/casy-study/engagement/e-01.png" width="357" height="423" alt="Awesome image">
                </div>
                <div class="engagement__content">
                    <h3 class="engagement__label title">Vote your favorite projects</h3>
                    <p class="engagement__text">The platform allows users to interact anonymously with the platform while promoting user registration to increase the credibility of their feedback.</p>
                </div>
            </div>
            <div class="engagement__item" data-watch data-animate="fade-in">
                <div class="engagement__image">
                    <img src="@img/casy-study/engagement/e-02.png" width="366" height="520" alt="Awesome image">
                </div>
                <div class="engagement__content">
                    <h3 class="engagement__label title">Submit proposals to <br> your municipality</h3>
                    <p class="engagement__text">Registered users have the opportunity to propose their own projects and open a discussion about it among the community.</p>
                </div>
            </div>
            <div class="engagement__item" data-watch data-animate="fade-in">
                <div class="engagement__image">
                    <img src="@img/casy-study/engagement/e-04.png" width="366" height="520" alt="Awesome image">
                </div>
                <div class="engagement__content">
                    <h3 class="engagement__label title">Getting advanced feedback</h3>
                    <p class="engagement__text">Cities ask advanced questions about their projects. Users have then the possibility to give a detailed feedback.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.engagement -->