<section class="page__hero-case hero-case">
    <div class="hero-case__container">
        <div class="hero-case__body">
            <div class="hero-case__content">
                <a href="#" class="hero-case__back-link">
                    <svg width="14" height="14">
                        <use xlink:href="img/icons/icons.svg#svg-arr-left"></use>
                    </svg>
                    <span>Back to Case Studies</span>
                </a>
                <div class="hero-case__descr">
                    <h1 class="hero-case__title hero-case__title--orange">Citympact.ch</h1>
                    <p class="hero-case__text"><span>Maximizing Youth Civic Engagement:</span> How Hyperio's New Interactive Web Platform is Changing the Game</p>
                    <p class="hero-case__note">UI Design, Web Development, Strategy, Branding</p>
                </div>
            </div>
            <div class="hero-case__image hero-case__image--citympact">
                <img src="@img/casy-study/hero.png" width="610" height="715" alt="">
            </div>
        </div>
    </div>
</section>
<!-- /.hero-case -->