<section class="page__metrics metrics">
    <div class="metrics__container">
        <div class="metrics__top">
            <p class="metrics__suptitle suptitle">Key Metrics</p>
            <h2 class="metrics__title title">Campaign of Saint-Maurice, Valais</h2>
            <p class="metrics__text">The 2022-2023 campaign ended in January 2023 with a first partner city, Saint-Maurice, from the swiss canton Valais. Citympact allowed the participation of almost a thousand unique local citizens - with a voting ratio of more than 78%. We plan to expand Citympact to more municipalities to promote youth civic engagement in other municipalities.</p>
        </div>
        <div class="metrics__items">
            <div class="metrics__item item-metrics">
                <h3 class="item-metrics__title">15+</h3>
                <p class="item-metrics__descr">Quality proposals, 5 by the municipality and 10 by citizens</p>
                <img decoding="async" loading="lazy" class="item-metrics__decor" src="@img/steps/d-blue.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="metrics__item item-metrics">
                <h3 class="item-metrics__title">150+</h3>
                <p class="item-metrics__descr">Avg. votes per proposal, most accompanied by notes</p>
                <img decoding="async" loading="lazy" class="item-metrics__decor" src="@img/steps/d-orange.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="metrics__item item-metrics">
                <h3 class="item-metrics__title">970+</h3>
                <p class="item-metrics__descr">Unique local citizens voted, with a voting ratio of over 78%!</p>
                <img decoding="async" loading="lazy" class="item-metrics__decor" src="@img/steps/d-green.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
        </div>
    </div>
</section>
<!-- /.metrics -->