//====================================================================================================

.footer {
    position: relative;
    z-index: 2;

    border-radius: var(--radius-large) var(--radius-large) 0 0;
    background-color: var(--black-light);
    color: var(--white);

    @media (min-width:$md2) {
        padding-top: 160px;
        margin-top: -40px;
    }

    @media (max-width:$md2) {
        margin-top: -20px;
    }

    @media (min-width:$md4) and (max-width:$md2) {
        padding-top: 120px;
    }

    @media (max-width:$md4) {
        padding-top: 80px;
    }

    .wrapper--home & {
        @media (min-width:$md2) {
            margin-top: -23vh;
        }
    }

    // .footer__container
    &__container {}

    // .footer__top
    &__top {
        @media (min-width:$md2) {
            margin-bottom: 120px;
        }

        @media (min-width:$md4) and (max-width:$md2) {
            margin-bottom: 80px;
        }

        @media (max-width:$md4) {
            margin-bottom: 60px;
        }
    }

    // .footer__body
    &__body {
        border-top: 1px solid var(--gold);

        @media (min-width:em(880)) {
            display: flex;
        }

        @media (max-width: em(880)) {
            padding-bottom: 80px;
        }

        @media (min-width:$md4) and (max-width:em(880)) {
            padding-top: 40px;
        }

        @media (max-width:$md4) {
            padding-top: 20px;
        }
    }

    // .footer__left
    &__left {
        @media (min-width:em(880)) {
            flex: 0 0 clamp(240px, percent(504, 1760), 505px);
            @include adaptiveValue("margin-right", 87, 50, 0, 1920, 1024);
            padding-top: 40px;

            border-right: 1px solid var(--gold);
        }

        @media (max-width: em(880)) {
            margin-bottom: 40px;
        }
    }

    // .footer__logo
    &__logo {
        img {
            @media (min-width:$md3) and (max-width:$md1) {
                width: 215px;
                height: 47px;
            }

            @media (max-width:$md3) {
                width: 182px;
                height: 40px;
            }
        }
    }

    // .footer__nav
    &__nav {

        @media (min-width:em(880)) {
            flex-grow: 0;
            flex-shrink: 1;
            @include adaptiveValue("flex-basis", 991, 563, 0, 1920, 960);
            padding-top: 40px;
            padding-bottom: 80px;
        }

        @media (max-width: em(880)) {
            max-width: 650px;
        }

        @media (min-width:$md5) {
            display: flex;
            justify-content: space-between;
        }

        @media (max-width:$md5) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px 30px;
            max-width: 295px;
        }
    }

    // .footer__col
    &__col {}

    // .footer__label
    &__label {
        font-size: var(--font-size-h4);
        line-height: 120%;
        font-weight: 500;

        @media (min-width:$md3) {
            margin-bottom: 25px;
        }

        @media (min-width:$md4) and (max-width:$md3) {
            margin-bottom: 20px;
        }

        @media (max-width:$md4) {
            margin-bottom: 16px;
        }
    }

    // .footer__list
    &__list {}

    // .footer__item-list
    &__item-list {
        &:not(:last-child) {
            margin-bottom: 8px;
        }

        a {
            line-height: 140%;
            transition: color .4s ease;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--gold);
                }
            }
        }
    }

    // .footer__bottom
    &__bottom {}
}

.top-footer {

    // .top-footer____top-row
    &__top-row {

        @media (min-width:$md3) {
            margin-bottom: 60px;
        }

        @media (max-width:$md3) {
            margin-bottom: 40px;
        }
    }

    // .top-footer__title
    &__title {
        @media (min-width:$md0) {
            max-width: 960px;
        }

        @media (min-width:$md3) and (max-width:$md0) {
            max-width: 800px;
        }

        @media (min-width:$md4) and (max-width:$md3) {
            max-width: 700px;
        }

        @media (max-width:$md4) {
            max-width: 330px;
        }

    }

    // .top-footer__body
    &__body {
        @media (min-width:$md2) {
            gap: 50px;
        }

        @media (min-width:$md5) and (max-width:$md2) {
            gap: 20px;
        }

        @media (min-width:$md5) {
            display: flex;
            justify-content: space-between;
        }
    }

    // .top-footer__image
    &__image {
        @media (min-width:$md5) {
            flex: 0 1 percent(870, 1760);
        }

        @media (max-width:$md5) {
            margin-bottom: 40px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--radius-small);
        }
    }

    // .top-footer__col
    &__col {
        @media (min-width:$md1) {
            flex: 0 1 percent(722, 1760);
        }

        @media (min-width:$md5) and (max-width:$md1) {
            flex: 0 1 50%;
        }

        @media (min-width:$md5) {
            order: -1;
        }
    }

    // .top-footer__descr
    &__descr {
        font-size: var(--font-size-h4);
        line-height: 120%;
        font-weight: 500;

        @media (min-width:$md3) {
            margin-bottom: 40px;
        }

        @media (max-width:$md3) {
            margin-bottom: 20px;
        }
    }

    // .top-footer__form
    &__form {}
}

.bottom-footer {
    font-size: var(--font-size-small);
    color: #a7a7a7;
    background-color: #5c5c5c;

    @media (min-width:$md4) {
        padding: 22px 0 26px;
    }

    @media (max-width:$md4) {
        padding: 16px 0 28px;
    }

    // .bottom-footer__container
    &__container {}

    // .bottom-footer__inner
    &__inner {
        @media (min-width:$md5) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
        }

        a {
            transition: color .4s ease;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--white);
                }
            }
        }
    }

    // .bottom-footer__item
    &__item {

        @media (max-width:$md5) {
            display: block;

            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }
}