//====================================================================================================
.footer {
    position: relative;
    z-index: 3;
    padding-top: 70px;

    background-color: var(--secondary);
    overflow: hidden;

    // .footer__container
    &__container {}

    // .footer__body
    &__body {
        position: relative;
        z-index: 5;
        margin-bottom: 50px;

        @media (min-width:$md3) {
            display: grid;
            grid-template-columns: percent(336, 1240) percent(800, 1240);
            justify-content: space-between;
            gap: 30px;
            min-height: 360px;
        }
    }

    // .footer__info
    &__info {
        @media (min-width:$md3) {
            display: flex;
            flex-direction: column;
        }

        @media (max-width:$md3) {
            margin-bottom: 68px;
        }
    }

    // .footer__logo
    &__logo {
        display: block;
        margin-bottom: 20px;
    }

    // .footer__descr
    &__descr {
        font-size: 16px;
        line-height: math.div(24, 16);
        color: var(--white-dark);

        @media (min-width:$md3) {
            flex: 1 1 auto;
        }

        @media (max-width:$md3) {
            margin-bottom: 50px;
        }
    }

    // .footer__contacts
    &__contacts {}

    // .footer__links
    &__links {
        @media (min-width:$md4) {
            display: flex;
            justify-content: space-between;
        }
    }

    // .footer__menu
    &__menu {
        @media (min-width:$md4) {
            flex: 0 1 610px;
            margin-right: 20px;
        }

        @media (max-width:$md4) {
            margin-bottom: 68px;
        }
    }

    // .footer__social
    &__social {}

    // .footer__bottom
    &__bottom {
        position: relative;
        z-index: 5;

        font-size: 13px;
        line-height: 150%;
        letter-spacing: -0.02em;

        color: rgba(179, 180, 187, 0.8);

        @media (min-width:$md5) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
        }

        @media (max-width:$md5) {
            padding: 30px 5px;
        }
    }

    // .footer__copyright
    &__copyright {
        @media (max-width:$md5) {
            margin-bottom: 50px;

            text-align: center;
        }

        span {
            color: #ff6007;
        }
    }

    // .footer__inner-links
    &__inner-links {
        display: flex;
        align-items: center;

        @media (max-width:$md5) {
            justify-content: center;
        }
    }

    // .footer__inner-item-list
    &__inner-item-list {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    // .footer__inner-item-link
    &__inner-item-link {
        transition: color .4s ease;

        @media (any-hover: hover) {
            &:hover {
                color: var(--white-pure);
            }
        }
    }

    &__shape-01 {
        @media (min-width:$md5) {
            position: absolute;
            width: 100%;
            bottom: -85px;
            left: 0;
        }

        @media (max-width:$md5) {
            display: none;
        }
    }
}

.contacts-footer {

    // .contacts-footer__link
    &__link {
        display: grid;
        align-items: center;
        grid-template-columns: 16px auto;
        gap: 15px;

        font-size: 16px;
        line-height: math.div(28, 16);
        font-weight: 500;
        color: var(--white-pure);

        transition: color .4s ease;

        @media (any-hover: hover) {
            &:hover {
                color: var(--orange);
            }
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        svg {
            color: var(--orange);
        }
    }
}

.menu-footer {

    @media (min-width:$md3) {
        grid-template-columns: repeat(3, auto);
    }

    @media (min-width:$md4) and (max-width:$md3) {
        grid-template-columns: repeat(2, auto);
    }

    @media (min-width:$md4) {
        display: grid;
        justify-content: space-between;
        gap: 20px;
    }

    // .menu-footer__col
    &__col {
        color: var(--white-pure);

        &:nth-child(n+3) {
            @media (max-width:$md3) {
                display: none;
            }
        }

        &:not(:last-child) {
            @media (max-width:$md4) {
                margin-bottom: 80px;
            }
        }
    }

    // .menu-footer__label
    &__label {
        margin-bottom: 30px;

        font-size: 18px;
        line-height: math.div(22, 18);
    }

    // .menu-footer__list
    &__list {}

    // .menu-footer__item-list
    &__item-list {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    // .menu-footer__link
    &__link {
        font-size: 16px;
        line-height: math.div(19, 16);

        transition: color .4s ease;

        @media (any-hover: hover) {
            &:hover {
                color: var(--orange);
            }
        }
    }
}

.social-footer {

    // .social-footer__item
    &__item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    // .social-footer__link
    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;

        color: var(--white-pure);

        transition: color .4s ease;

        svg,
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--orange);
            }
        }
    }
}

//====================================================================================================