//====================================================================================================
.page {
    @media (min-width:$md5) {
        padding-top: 112px;
    }

    @media (max-width:$md5) {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    &--overview {
        background-color: var(--gray-lightest);
    }

    &--technology {
        background-color: #f7fafc;
    }

    &--careers {
        background: linear-gradient(360deg, #F7FAFC 49.38%, rgba(247, 250, 252, 0) 100%);
    }

    // .page--terms
    &--terms {}

    // .page__terms
    &__terms {
        @media (min-width:$md3) {
            padding-top: 80px;
            padding-bottom: 150px;
        }

        @media (max-width:$md3) {
            padding-top: 60px;
            padding-bottom: 90px;
        }
    }

    // .page__hero
    &__hero {}

    // .page__services
    &__services {}

    // .page__about
    &__about {}

    // .page__steps
    &__steps {
        padding-top: 100px;
        @include adaptiveValue("padding-bottom", 100, 60, 0, 1300, 650);
    }

    // .page__featured-project
    &__featured-project {
        @media (min-width:$md3) {
            padding-top: 100px;
        }

        @media (max-width:$md3) {
            padding-top: 60px;
        }
    }

    // .page__partners
    &__partners {}


    // .page__contact-us
    &__contact-us {}

    // .page__blog
    &__blog {
        @include adaptiveValue("padding-bottom", 100, 60, 0, 1300, 650);

        &:not(.blog--fleet) {
            background: var(--gradient-dark);
        }

        &--fleet {
            padding-top: 30px;
            color: var(--secondary);
        }
    }

    // .page__whitepaper
    &__whitepaper {
        @media (min-width:$md3) {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        @media (max-width:$md3) {
            padding-top: 60px;
            padding-bottom: 80px;
        }
    }

    //======================================================= Case study =======================================================================

    // .page__hero-case
    &__hero-case {}

    // .page__challenge
    &__challenge {}

    // .page__about
    &__about {}

    // .page__engagement
    &__engagement {}

    // .page__actions-case
    &__actions-case {}

    // .page__covid-case
    &__covid-case {}

    // .page__rma-case
    &__rma-case {
        padding-bottom: 0;
    }

    // .page__projects-case-overview
    &__projects-case-overview {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 200, 100, 0, 1300, 650);
        }
    }

    // .page__faq-case-overview
    &__faq-case-overview {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 200, 100, 0, 1300, 650);
        }
    }

    &__blog-hero {
        @media (min-width:$md3) {
            margin-bottom: 100px;
        }

        @media (max-width:$md3) {
            margin-bottom: 30px;
        }
    }

    // .page__blog-articles
    &__blog-articles {
        &:not(:last-child) {
            @media (min-width:$md3) {
                margin-bottom: 70px;
            }

            @media (max-width:$md3) {
                margin-bottom: 40px;
            }
        }
    }


    // .page__growth-insights
    &__growth-insights {
        @media (min-width:$md2) {

            padding-top: 100px;
            padding-bottom: 150px;

        }

        @media (min-width:$md5) and (max-width:$md2) {

            padding-top: 70px;
            padding-bottom: 110px;

        }

        @media (max-width:$md5) {

            padding-top: 60px;
            padding-bottom: 80px;

        }
    }

    // .page__description-about
    &__description-about {}

    // .page__blockquote
    &__blockquote {}

    // .page__cover
    &__cover {}

    // .page__our-team
    &__our-team {
        @media (min-width:$md5) {
            padding-top: 100px;
            padding-bottom: 150px;
        }

        @media (max-width:$md5) {
            padding-top: 60px;
            padding-bottom: 80px;
        }
    }


    //======================================================= Careers Page ======================================================================= 
    // .page--careers
    &--careers {
        background-color: #f7fafc;
    }

    // .page__hero-careers
    &__hero-careers {}

    // .page__jobs-careers
    &__jobs-careers {}

    // .page__subscribe
    &__subscribe {
        @media (min-width:$md2) {
            padding-top: 40px;
            padding-bottom: 150px;
        }

        @media (min-width:$md5) and (max-width:$md2) {
            padding-top: 30px;
            padding-bottom: 110px;
        }

        @media (max-width:$md5) {
            padding-top: 20px;
            padding-bottom: 80px;
        }
    }

}

//====================================================================================================

@import 'partials/hero';
@import 'partials/services';
@import 'partials/about';
@import 'partials/steps';
@import 'partials/featured-project';
@import 'partials/partners';
@import 'partials/contact-us';
@import 'partials/blog';
@import 'partials/whitepaper';


//======================================================= Casy Study Page =======================================================================
@import 'partials/case-study/hero-case';
@import 'partials/case-study/challenge';
@import 'partials/case-study/about';
@import 'partials/case-study/engagement';
@import 'partials/case-study/metrics';
@import 'partials/case-study/review-case';
@import 'partials/case-study/actions-case';
@import 'partials/case-study/covid-case';

//======================================================= Case Overview =======================================================================

@import 'partials/case-overview/hero';
@import 'partials/case-overview/projects';
@import 'partials/case-overview/faq';


//======================================================= Others blocks/pages =======================================================================

@import 'partials/description-about';
@import 'partials/blockquote';
@import 'partials/single-blog';
@import 'partials/our-team';
@import 'partials/careers';
@import 'partials/terms';
@import "partials/subscribe"