@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";
@import "base/variables";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";


// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Manrope";
$fontSize: var(--font-size-main); // 18px

// Основные цвета
$mainColor: var(--main-color);
; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1760;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 160;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer+$containerPadding;


// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

html.lock.lenis {
	height: 100%;
	overflow: hidden;
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	/* 	overflow: hidden; */

	@supports (overflow: clip) {
		overflow: clip;
	}

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
	max-width: toRem($containerWidth);
	margin: 0 auto;

	@media (min-width:em(1440)) {
		padding: 0 80px;
	}

	@media (min-width:$md4) and (max-width:em(1440)) {
		@include adaptiveValue("padding-left", 80, 20, 0, 1440, 991);
		@include adaptiveValue("padding-right", 80, 20, 0, 1440, 991);
	}

	@media (max-width:$md4) {
		padding: 0 16px;
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "about";
@import "repair";
@import "design-interior";
@import "in-media";
@import "portfolio-page";
@import "single-page";
@import "contact-us";

// @import "base/preloader"

.decor {
	position: sticky;
	z-index: 1;

	@media (min-width:$md3) {
		top: -30px;
	}

	@media (max-width:$md3) {
		top: -20px;
	}

	&--dark-bg {
		background-color: var(--black-light);
	}

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;

		border-radius: var(--radius-large) var(--radius-large) 0 0;
		overflow: hidden;
	}
}