@use "sass:math";


@import "base/mixins";
@import "base/variables";


@import "fonts/fonts";


$fontFamily: "Inter";
$fontSize: var(--main-offsize); // 21px

$mainColor: var(--main-color);


$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1240;
$maxWidthWideContainer: 1340;
$maxWidthNarrowContainer: 760;
$containerPadding: 30;

$containerWidth: $maxWidthContainer+$containerPadding;

@import "base/null";

body {

	.lock & {
		overflow: hidden;
		touch-action: none;
	}
}


.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&--has-sticky {
		@media (min-width:em(1100)) {
			overflow: visible;
		}
	}

	>main {
		flex: 1 1 auto;
	}

	>* {
		min-width: 0;
	}
}


[class*="__container"] {
	max-width: rem($maxWidthContainer);
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 1.25rem;
}

[class*="__container-wide"] {
	max-width: rem($maxWidthWideContainer);
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 1.25rem;
}

[class*="__container-narrow"] {
	max-width: rem($maxWidthNarrowContainer);
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 1.25rem;
}


@import "common";

@import "base";


@import "header";
@import "footer";

@import "home";