<section class="page__blog blog blog--fleet">
    <div class="blog__container">
        <div class="blog__share share-social">
            <h3 class="share-social__title">Liked this project? <br> Share it with the world!</h3>
            <ul class="share-social__list">
                <li class="share-social__item">
                    <a href="#" target="_blank" class="share-social__link">
                        <svg width="19" height="16">
                            <use xlink:href="img/icons/icons.svg#svg-mail"></use>
                        </svg>
                    </a>
                </li>
                <li class="share-social__item">
                    <a href="#" target="_blank" class="share-social__link">
                        <svg width="18" height="18">
                            <use xlink:href="img/icons/icons.svg#svg-phone-2"></use>
                        </svg>
                    </a>
                </li>
                <li class="share-social__item">
                    <a href="#" target="_blank" class="share-social__link">
                        <svg width="19" height="16">
                            <use xlink:href="img/icons/icons.svg#svg-mail"></use>
                        </svg>
                    </a>
                </li>
                <li class="share-social__item">
                    <a href="#" target="_blank" class="share-social__link">
                        <svg width="19" height="19">
                            <use xlink:href="img/icons/icons.svg#svg-whatsapp"></use>
                        </svg>
                    </a>
                </li>
                <li class="share-social__item">
                    <a href="#" target="_blank" class="share-social__link">
                        <svg width="18" height="18">
                            <use xlink:href="img/icons/icons.svg#svg-phone-2"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="blog__top">
            <div class="blog__titles">
                <p class="blog__suptitle">Further reading</p>
                <h2 class="blog__title title">Case studies</h2>
            </div>
        </div>
        <div class="blog__items">
            <a href="#" class="blog__item article-blog">
                <div class="article-blog__image">
                    <img src="@img/blog/b-04.jpg" alt="">
                </div>
                <div class="article-blog__info">
                    <div class="article-blog__data">5 min read</div>
                    <h3 class="article-blog__title">Hyperio Fleet Management Platform</h3>
                </div>
                <p class="article-blog__tag">UI/UX Design, Platform development, Frontend/Backend</p>
            </a>
            <a href="#" class="blog__item article-blog">
                <div class="article-blog__image">
                    <img src="@img/blog/b-04.jpg" alt="">
                </div>
                <div class="article-blog__info">
                    <div class="article-blog__data">5 min read</div>
                    <h3 class="article-blog__title">Hyperio Fleet Management Platform</h3>
                </div>
                <p class="article-blog__tag">UI/UX Design, Platform development, Frontend/Backend</p>
            </a>
            <a href="#" class="blog__item article-blog">
                <div class="article-blog__image">
                    <img src="@img/blog/b-04.jpg" alt="">
                </div>
                <div class="article-blog__info">
                    <div class="article-blog__data">5 min read</div>
                    <h3 class="article-blog__title">Hyperio Fleet Management Platform</h3>
                </div>
                <p class="article-blog__tag">UI/UX Design, Platform development, Frontend/Backend</p>
            </a>
        </div>
    </div>
</section>
<!-- /.blog -->