<section class="page__challenge challenge challenge--fleet">
    <div class="challenge__container">
        <div class="challenge__body">
            <div class="challenge__info">
                <h2 class="challenge__title">The Challenge</h2>
                <p class="challenge__descr challenge__descr--smaller">Companies needed a robust and efficient way to optimize their transportation costs and to streamline operations. The challenge was to develop a platform that could provide real-time visibility of job sites and vehicle fleet status while offering advanced features such as job planning and scheduling.</p>
            </div>
        </div>
    </div>
</section>
<!-- /.challenge -->
<section class="page__challenge challenge challenge--green">
    <div class="challenge__container">
        <div class="challenge__body">
            <div class="challenge__info challenge__info--wider">
                <p class="challenge__descr challenge__descr--smaller">As gasoline prices have soared, companies engaged in the transportation and delivery of goods and services across the country face the challenge of minimizing costs while maintaining efficiency. To address this, we developed an Android-based fleet management platform that enables businesses to manage their vehicle fleets effectively.</p>
            </div>
        </div>
    </div>
</section>
<!-- /.challenge -->