<section class="page__hero-case hero-case">
    <div class="hero-case__container">
        <div class="hero-case__body">
            <div class="hero-case__content">
                <a href="#" class="hero-case__back-link">
                    <svg width="14" height="14">
                        <use xlink:href="img/icons/icons.svg#svg-arr-left"></use>
                    </svg>
                    <span>All Case Studies</span>
                </a>
                <div class="hero-case__descr">
                    <div class="hero-case__text">
                        <span>Hyperio's Fleet <br> Management Platform:</span> Enhancing Efficiency and Reducing Costs
                    </div>
                    <p class="hero-case__note">UI/UX Design, Platform development, Frontend/Backend</p>
                </div>
            </div>
            <div class="hero-case__image hero-case__image--fleet">
                <img src="@img/casy-study/fleet-case/hero.png" width="570" height="670" alt="">
            </div>
        </div>
    </div>
</section>
<!-- /.hero-case -->