<section class="page__metrics metrics">
    <div class="metrics__container">
        <div class="metrics__top">
            <p class="metrics__suptitle suptitle">Impact</p>
            <h2 class="metrics__title title">Our fleet management platform has delivered significant benefits for its customers</h2>
        </div>
        <div class="metrics__items">
            <div class="metrics__item item-metrics item-metrics--fleet">
                <h3 class="item-metrics__title item-metrics__title--fleet">Reduced transportation costs</h3>
                <p class="item-metrics__descr">By optimizing commutes and eliminating unnecessary travel.</p>
                <img decoding="async" loading="lazy" class="item-metrics__decor" src="@img/steps/d-blue.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="metrics__item item-metrics item-metrics--fleet">
                <h3 class="item-metrics__title item-metrics__title--fleet">Increased <br> overall <br> efficiency</h3>
                <p class="item-metrics__descr">With streamlined communication and direct routing to job sites.</p>
                <img decoding="async" loading="lazy" class="item-metrics__decor" src="@img/steps/d-orange.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="metrics__item item-metrics item-metrics--fleet">
                <h3 class="item-metrics__title item-metrics__title--fleet">Enhanced responsiveness</h3>
                <p class="item-metrics__descr">The real-time overview of teams allows dispatchers to react to unexpected client requests swiftly.</p>
                <img decoding="async" loading="lazy" class="item-metrics__decor" src="@img/steps/d-green.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
        </div>
        <p class="metrics__text metrics__text--fleet">Customers have reported positive experiences with Hyperio's fleet management platform, citing its flexibility and scalability in meeting their needs. The platform has helped customers manage their fleets more effectively, optimizing commutes, saving time and money, and improving overall productivity and efficiency.</p>
        <div class="metrics__cta">
            <h3 class="metrics__caption title">Call us today to discover how we can optimize your fleet management</h3>
            <a href="#" class="metrics__button button button--filled">
                <svg width="16" height="16">
                    <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                <span>Schedule your consultation</span>
            </a>
        </div>
    </div>
</section>
<!-- /.metrics -->