<section class="page__covid-case single-case">
    <div class="single-case__container">
        <div class="single-case__technologies single-case__technologies--fleet">
            <p class="single-case__suptitle single-case__suptitle--green">Our Solution</p>
            <h2 class="single-case__title single-case__title--big title">A Fleet Management platform that offers versatile solutions</h2>
            <h3 class="single-case__label">Built with reliable and time-tested frameworks</h3>
            <div class="single-case__logos-technologies">
                <div class="single-case__logo-technologies">
                    <img src="@img/casy-study/covid-case/technologies/android.png" width="113" height="26" alt="Awesome image">
                </div>
                <div class="single-case__logo-technologies">
                    <img src="@img/casy-study/covid-case/technologies/java.svg" width="110" height="55" alt="Awesome image">
                </div>
                <div class="single-case__logo-technologies">
                    <img src="@img/casy-study/covid-case/technologies/mysql.svg" width="148" height="38" alt="Awesome image">
                </div>
            </div>
        </div>
        <div class="single-case__rows">
            <div class="single-case__item item-row-case item-row-case--fleet">
                <div class="item-row-case__image item-row-case__image--narrow">
                    <img src="@img/casy-study/fleet-case/f-01.png" width="350" height="750" alt="Awesome image">
                </div>
                <div class="item-row-case__content item-row-case__content--no-padding item-row-case__content--no-padding">
                    <h3 class="item-row-case__title title">Real-time visibility</h3>
                    <p class="item-row-case__text">The platform provides real-time data on job sites and vehicle fleet status, enabling better decision-making and resource allocation.</p>
                    <a href="#" class="item-row-case__button button">
                        <span>Contact us to learn more</span>
                        <svg width="11" height="11">
                            <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="single-case__item item-row-case item-row-case--fleet">
                <div class="item-row-case__image item-row-case__image--narrow">
                    <img src="@img/casy-study/fleet-case/f-02.png" width="350" height="750" alt="Awesome image">
                </div>
                <div class="item-row-case__content item-row-case__content--no-padding">
                    <h3 class="item-row-case__title title">Job planning and scheduling</h3>
                    <p class="item-row-case__text">Advanced features such as job planning and scheduling help optimize workforce deployment, reducing unnecessary driving time and cutting costs.</p>
                </div>
            </div>
            <div class="single-case__item item-row-case item-row-case--fleet">
                <div class="item-row-case__image item-row-case__image--narrow">
                    <img src="@img/casy-study/fleet-case/f-03.png" width="350" height="750" alt="Awesome image">
                </div>
                <div class="item-row-case__content item-row-case__content--no-padding">
                    <h3 class="item-row-case__title title">Streamlined communication</h3>
                    <p class="item-row-case__text">The software enables employees to drive directly from their homes to job sites, eliminating the need for a daily office briefing and reducing overall commute time.</p>
                    <a href="#" class="item-row-case__button button">
                        <span>Contact us to learn more</span>
                        <svg width="11" height="11">
                            <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="single-case__fleet-challenges challenges-fleet">
            <h2 class="challenges-fleet__title title">Technical Challenges</h2>
            <p class="challenges-fleet__text">Managing large volumes of geolocation data and minimizing battery consumption on Android devices.</p>
            <div class="challenges-fleet__items">
                <div class="challenges-fleet__item">
                    <div class="challenges-fleet__icon">
                        <svg width="48" height="48">
                            <use xlink:href="img/icons/icons.svg#svg-world"></use>
                        </svg>
                    </div>
                    <h3 class="challenges-fleet__label title">Geolocation data</h3>
                    <p class="challenges-fleet__descr">Managing large volumes of geolocation data and minimizing battery consumption on Android devices.</p>
                    <img class="challenges-fleet__decor" src="@img/casy-study/fleet-case/decor/d-blue-fleet.svg" width="346" height="115" alt="Awesome image">
                </div>
                <div class="challenges-fleet__item">
                    <div class="challenges-fleet__icon">
                        <svg width="48" height="48">
                            <use xlink:href="img/icons/icons.svg#svg-calendar"></use>
                        </svg>
                    </div>
                    <h3 class="challenges-fleet__label title">Calendar event handling</h3>
                    <p class="challenges-fleet__descr">Efficiently handling new job submissions, team allocation, and route planning using Google Maps.</p>
                    <img class="challenges-fleet__decor" src="@img/casy-study/fleet-case/decor/d-orange-fleet.svg" width="346" height="115" alt="Awesome image">
                </div>
            </div>
            <div class="challenges-fleet__row">
                <p class="challenges-fleet__bottom-text">Got similar challenges? Let’s schedule a consultation.</p>
                <a href="" class="challenges-fleet__button button button--filled">
                    <span>Contact us</span>
                    <svg width="11" height="11">
                        <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /.covid-case -->