<article class="article-in-media">
    <div class="article-in-media__image">
        <img src="@@path" width="573" height="400" alt="Awesome image">
    </div>
    <div class="article-in-media__tags">
        <div class="article-in-media__tag">@@tag</div>
    </div>
    <h3 class="article-in-media__title"><span>@@title</span></h3>
    <div class="article-in-media__text">
        <p>@@text</p>
    </div>
    <a href="#" class="article-in-media__link">
        <span>Перейти к новости</span>
        <svg width="10" height="10">
            <use xlink:href="img/icons/icons.svg#svg-arr-top-right"></use>
        </svg>
    </a>
</article>