<a href="" class="item-portfolio">
    <div class="item-portfolio__image" data-scroll-offset="0, 0" data-scroll data-image-fade>
        <img src="@@path" width="573" height="573" alt="Awesome image" data-scroll data-scroll-css-progress data-parallax loading="lazy" decoding="async">
    </div>
    <div class="item-portfolio__row">
        <div class="item-portfolio__info">
            <h3 class="item-portfolio__label">@@name</h3>
            <p class="item-portfolio__area">@@area</p>
        </div>
        <button type="button" class="item-portfolio__button">
            <svg width="10" height="10">
                <use xlink:href="img/icons/icons.svg#svg-arr-top-right"></use>
            </svg>
        </button>
    </div>
</a>