<article class="item-services">
    <div class="item-services__image">
        <img src="@@path" width="870" height="407" alt="Awesome image" loading="lazy" decoding="async">
    </div>
    <div class="item-services__descr">
        <h3 class="item-services__label">@@name</h3>
        <p class="item-services__text">@@decr</p>
        <div class="item-services__button">
            @@include("../components/_button.htm", {
            "text":"Подробнее об услуге"
            })
        </div>
    </div>
</article>