.steps {

    // .steps__container
    &__container {}

    // .steps__body
    &__body {}

    // .steps__top-row
    &__top-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 40px;
        margin-bottom: 40px;
    }

    // .steps__descr
    &__descr {
        flex: 1 1 auto;
    }

    // .steps__suptitle
    &__suptitle {}

    // .steps__title
    &__title {
        @media (max-width:$md4) {
            max-width: 170px;
        }
    }

    // .steps__controls
    &__controls {
        display: flex;
        align-items: center;

        @media (min-width:$md4) {
            gap: 20px;
        }

        @media (max-width:$md4) {
            gap: 10px;
        }
    }

    // .steps__arrow
    &__arrow {}

    // .steps__slider
    &__slider {
        &.swiper {
            overflow: visible;
        }
    }

    // .steps__swiper
    &__swiper {
        &:not(.swiper-wrapper) {
            display: flex;
            gap: 20px;

            .steps__slide:nth-child(-n+3) {
                flex: 0 0 33%;
            }
        }

    }

    // .steps__slide
    &__slide {
        display: flex;
        flex-direction: column;
        height: auto;

        border: 1px solid var(--gold);
        border-radius: var(--radius-small);

        @media (min-width:$md1) {
            padding: 40px;
        }

        @media (max-width:$md1) {
            padding: 20px;
        }
    }

    // .steps__caption
    &__caption {
        margin-bottom: 12px;

        font-size: var(--font-size-h4);
        font-weight: 500;
        line-height: 120%;
    }

    // .steps__text
    &__text {
        line-height: 140%;
    }
}