<ul class="social-share">
    <li class="social-share__item">
        <a href="#" target="_blank" class="social-share__link">
            <svg width="40" height="40">
                <use xlink:href="img/icons/icons.svg#svg-twitter"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__item">
        <a href="#" target="_blank" class="social-share__link">
            <svg width="40" height="40">
                <use xlink:href="img/icons/icons.svg#svg-linkedin-2"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__item">
        <a href="#" target="_blank" class="social-share__link">
            <svg width="40" height="40">
                <use xlink:href="img/icons/icons.svg#svg-whatsapp-2"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__item">
        <a href="#" target="_blank" class="social-share__link">
            <svg width="40" height="40">
                <use xlink:href="img/icons/icons.svg#svg-mail-2"></use>
            </svg>
        </a>
    </li>
</ul>