<section class="page__subscribe subscribe">
    <div class="subscribe__container">
        <div class="subscribe__body">
            <div class="subscribe__icon">
                <svg width="64" height="64">
                    <use xlink:href="img/icons/icons.svg#svg-arr-icon"></use>
                </svg>
            </div>
            <h2 class="subscribe__title title">Get them all as soon as they’re out of the oven</h2>
            <p class="subscribe__descr">Sign up and receive all the future e-books and whitepapers without any hassle, delivered in your inbox.</p>
            <form action="#" class="subscribe__form">
                <div class="subscribe__row">
                    <div class="subscribe__input">
                        <input autocomplete="off" type="text" name="form[]" data-required="email" data-error="Enter valid email" placeholder="Email address" class="input">
                    </div>
                    <button type="submit" class="subscribe__button button button--filled-green">
                        <svg width="24" height="24">
                            <use xlink:href="img/icons/icons.svg#svg-ring"></use>
                        </svg>
                        <span>Subscribe to get notified</span>
                    </button>
                </div>
            </form>
            <div class="subscribe__text">We’ll only send you the download links, we 💯 don’t like spam either.</div>
        </div>
    </div>
</section>
<!-- /.subscribe -->