.final-step-design {

    // .final-step-design__container
    &__container {}

    // .final-step-design__body
    &__body {
        @media (min-width:em(700)) {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
    }

    // .final-step-design__descr
    &__descr {
        @media (min-width:em(700)) {
            flex: 0 1 auto;
        }

        @media (max-width:em(700)) {
            margin-bottom: 40px;
        }
    }

    // .final-step-design__top-row
    &__top-row {
        @media (max-width:$md4) {
            width: 120%;
        }
    }

    // .final-step-design__suptitle
    &__suptitle {}

    // .final-step-design__title
    &__title {
        @media (min-width:$md3) {
            margin-bottom: 40px;
        }

        @media (max-width:$md3) {
            margin-bottom: 20px;
        }

        @media (max-width:$md4) {
            max-width: 328px;
        }
    }

    // .final-step-design__cols
    &__cols {
        @media (min-width:em(1200)) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }

    // .final-step-design__col
    &__col {
        line-height: 140%;

        &:not(:last-child) {
            @media (max-width: em(1200)) {
                margin-bottom: 16px;
            }
        }
    }

    // .final-step-design__image
    &__image {
        position: relative;

        @media (min-width:em(700)) {
            flex: 0 0 percent(870, 1740);
            height: 400px;
        }

        @media (max-width:em(700)) {
            max-width: 360px;
            margin: 0 auto;
            aspect-ratio: 328 / 200;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: var(--radius-small);
        }
    }
}