<section class="page__faq-case-overview faq-case-overview">
    <div class="faq-case-overview__container">
        <h2 class="faq-case-overview__title title">Frequently Asked Questions</h2>
        <div class="faq-case-overview__body">
            <div data-spollers class="faq-case-overview__spollers spollers">
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title spollers__title--top _spoller-active">
                        <span class="spollers__title-inner">
                            <span>How long does it take to develop a custom-made online platform?</span>
                            <span class="spollers__icon"></span>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <h3 class="spollers__title">What are the types of platform that Hyperio creates?</h3>
                        <p class="spollers__text">Hyperio creates a variety of software engineering services including IoT platform development, web and mobile applications as well as cloud backend (API) interfaces.</p>
                        <ul class="spollers__list">
                            <li class="spollers__item-list">Hyperio develops <a href="#" target="_blank">mobile applications</a> for the Android ecosystem - these are applications that run on mobile devices such as tablets and smartphones (see the usecase 1)</li>
                            <li class="spollers__item-list">We also create web applications (web apps). They are running in a web browser and can be used by a computer, tablet or smartphone.</li>
                            <li class="spollers__item-list"><a href="#" target="_blank">IoT platforms are solutions</a> that involve connected devices (IoT devices) such as smart sensors, remote home automation solutions or data collections platforms.</li>
                            <li class="spollers__item-list"><a href="#" target="_blank">Enterprise platform</a> consists of complex backends, distributed databases and API solutions - enabling large organization complex business process management (BPM), resource planning (ERP) and various customer relationship management (CRM)</li>
                        </ul>
                        <div class="spollers__buttons">
                            <a href="#" class="spollers__button button button--filled">
                                <span>Primary Button</span>
                                <svg width="11" height="11">
                                    <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#" class="spollers__button button button--outline">Secondary Button</a>
                        </div>
                        <p class="spollers__text">Hyperio creates a variety of software engineering services including IoT platform development, web and mobile applications as well as cloud backend (API) interfaces.</p>
                    </div>
                </div>

                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title spollers__title--top">
                        <span class="spollers__title-inner">
                            <span>How long does it take to develop a custom-made online platform?</span>
                            <span class="spollers__icon"></span>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <h3 class="spollers__title">What are the types of platform that Hyperio creates?</h3>
                        <p class="spollers__text">Hyperio creates a variety of software engineering services including IoT platform development, web and mobile applications as well as cloud backend (API) interfaces.</p>
                        <ul class="spollers__list">
                            <li class="spollers__item-list">Hyperio develops <a href="#" target="_blank">mobile applications</a> for the Android ecosystem - these are applications that run on mobile devices such as tablets and smartphones (see the usecase 1)</li>
                            <li class="spollers__item-list">We also create web applications (web apps). They are running in a web browser and can be used by a computer, tablet or smartphone.</li>
                            <li class="spollers__item-list"><a href="#" target="_blank">IoT platforms are solutions</a> that involve connected devices (IoT devices) such as smart sensors, remote home automation solutions or data collections platforms.</li>
                            <li class="spollers__item-list"><a href="#" target="_blank">Enterprise platform</a> consists of complex backends, distributed databases and API solutions - enabling large organization complex business process management (BPM), resource planning (ERP) and various customer relationship management (CRM)</li>
                        </ul>
                        <div class="spollers__buttons">
                            <a href="#" class="spollers__button button button--filled">
                                <span>Primary Button</span>
                                <svg width="11" height="11">
                                    <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#" class="spollers__button button button--outline">Secondary Button</a>
                        </div>
                        <p class="spollers__text">Hyperio creates a variety of software engineering services including IoT platform development, web and mobile applications as well as cloud backend (API) interfaces.</p>
                    </div>
                </div>

                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title spollers__title--top">
                        <span class="spollers__title-inner">
                            <span>What are the types of platform that Hyperio creates?</span>
                            <span class="spollers__icon"></span>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <h3 class="spollers__title">What are the types of platform that Hyperio creates?</h3>
                        <p class="spollers__text">Hyperio creates a variety of software engineering services including IoT platform development, web and mobile applications as well as cloud backend (API) interfaces.</p>
                        <ul class="spollers__list">
                            <li class="spollers__item-list">Hyperio develops <a href="#" target="_blank">mobile applications</a> for the Android ecosystem - these are applications that run on mobile devices such as tablets and smartphones (see the usecase 1)</li>
                            <li class="spollers__item-list">We also create web applications (web apps). They are running in a web browser and can be used by a computer, tablet or smartphone.</li>
                            <li class="spollers__item-list"><a href="#" target="_blank">IoT platforms are solutions</a> that involve connected devices (IoT devices) such as smart sensors, remote home automation solutions or data collections platforms.</li>
                            <li class="spollers__item-list"><a href="#" target="_blank">Enterprise platform</a> consists of complex backends, distributed databases and API solutions - enabling large organization complex business process management (BPM), resource planning (ERP) and various customer relationship management (CRM)</li>
                        </ul>
                        <div class="spollers__buttons">
                            <a href="#" class="spollers__button button button--filled">
                                <span>Primary Button</span>
                                <svg width="11" height="11">
                                    <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#" class="spollers__button button button--outline">Secondary Button</a>
                        </div>
                        <p class="spollers__text">Hyperio creates a variety of software engineering services including IoT platform development, web and mobile applications as well as cloud backend (API) interfaces.</p>
                    </div>
                </div>

                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title spollers__title--top">
                        <span class="spollers__title-inner">
                            <span>How long does it take to develop a custom-made online platform?</span>
                            <span class="spollers__icon"></span>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <h3 class="spollers__title">What are the types of platform that Hyperio creates?</h3>
                        <p class="spollers__text">Hyperio creates a variety of software engineering services including IoT platform development, web and mobile applications as well as cloud backend (API) interfaces.</p>
                        <ul class="spollers__list">
                            <li class="spollers__item-list">Hyperio develops <a href="#" target="_blank">mobile applications</a> for the Android ecosystem - these are applications that run on mobile devices such as tablets and smartphones (see the usecase 1)</li>
                            <li class="spollers__item-list">We also create web applications (web apps). They are running in a web browser and can be used by a computer, tablet or smartphone.</li>
                            <li class="spollers__item-list"><a href="#" target="_blank">IoT platforms are solutions</a> that involve connected devices (IoT devices) such as smart sensors, remote home automation solutions or data collections platforms.</li>
                            <li class="spollers__item-list"><a href="#" target="_blank">Enterprise platform</a> consists of complex backends, distributed databases and API solutions - enabling large organization complex business process management (BPM), resource planning (ERP) and various customer relationship management (CRM)</li>
                        </ul>
                        <div class="spollers__buttons">
                            <a href="#" class="spollers__button button button--filled">
                                <span>Primary Button</span>
                                <svg width="11" height="11">
                                    <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#" class="spollers__button button button--outline">Secondary Button</a>
                        </div>
                        <p class="spollers__text">Hyperio creates a variety of software engineering services including IoT platform development, web and mobile applications as well as cloud backend (API) interfaces.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.faq-case-overview -->