<section class="page__hero-case-overview hero-case-overview">
    <div class="hero-case-overview__container">
        <div class="hero-case-overview__body">
            <a href="#" class="hero-case-overview__link-back">
                <svg width="14" height="14">
                    <use xlink:href="img/icons/icons.svg#svg-arr-left"></use>
                </svg>
                <span>Go back</span>
            </a>
            <div class="hero-case-overview__content">
                <h1 class="hero-case-overview__title">Case Studies</h1>
                <p class="hero-case-overview__descr">Unlocking the Benefits of Blog Posts, Whitelabel Articles, and More. Enhance Your Knowledge and Stay Ahead of the Game with Hyperio’s help.</p>
            </div>
        </div>
    </div>
</section>
<!-- /.hero-case-overview -->