<section class="page__projects-case-overview projects-case-overview">
    <div class="projects-case-overview__container">
        <div class="projects-case-overview__items">
            <div class="projects-case-overview__item">
                <div class="projects-case-overview__image">
                    <img src="@img/casy-study/overview/covid.png" width="490" height="360" alt="Awesome image">
                </div>
                <div class="projects-case-overview__content">
                    <div class="projects-case-overview__info">
                        <p class="projects-case-overview__suptitle">Hyperio vs COVID19</p>
                        <h2 class="projects-case-overview__title title">Helping pharmacies in Zürich efficiently manage the COVID-19 crisis</h2>
                        <a href="#" class="projects-case-overview__button button button--filled">
                            <span>Read Case Study</span>
                            <svg width="11" height="11">
                                <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="projects-case-overview__descr">
                        <p>Hyperio's exceptional software engineering expertise played a critical role in managing the COVID crisis for Zürich's Pharmacy Association. I highly recommend them!</p>
                        <p>
                            Johan Cruyff <br>
                            Founder, Antaes
                        </p>
                    </div>
                </div>
            </div>
            <div class="projects-case-overview__item">
                <div class="projects-case-overview__image">
                    <img src="@img/casy-study/overview/rma.svg" width="490" height="360" alt="Awesome image">
                </div>
                <div class="projects-case-overview__content">
                    <div class="projects-case-overview__info">
                        <h2 class="projects-case-overview__title title">Customer Comfort for a Leading Manufacturer:
                            How Hyperio's Solution Improved Efficiency & Transparency</h2>
                        <a href="#" class="projects-case-overview__button button button--filled">
                            <span>Read Case Study</span>
                            <svg width="11" height="11">
                                <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="projects-case-overview__item">
                <div class="projects-case-overview__image">
                    <!-- <img src="@img/casy-study/overview/covid.png" width="490" height="360" alt="Awesome image"> -->
                </div>
                <div class="projects-case-overview__content">
                    <div class="projects-case-overview__info">
                        <p class="projects-case-overview__suptitle">Hyperio vs COVID19</p>
                        <h2 class="projects-case-overview__title title">Helping pharmacies in Zürich efficiently manage the COVID-19 crisis</h2>
                        <a href="#" class="projects-case-overview__button button button--filled">
                            <span>Read Case Study</span>
                            <svg width="11" height="11">
                                <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="projects-case-overview__descr">
                        <p>Hyperio's exceptional software engineering expertise played a critical role in managing the COVID crisis for Zürich's Pharmacy Association. I highly recommend them!</p>
                        <p>
                            Johan Cruyff <br>
                            Founder, Antaes
                        </p>
                    </div>
                </div>
            </div>
            <div class="projects-case-overview__item">
                <div class="projects-case-overview__image">
                    <!-- <img src="@img/casy-study/overview/covid.png" width="490" height="360" alt="Awesome image"> -->
                </div>
                <div class="projects-case-overview__content">
                    <div class="projects-case-overview__info">
                        <p class="projects-case-overview__suptitle">Hyperio vs COVID19</p>
                        <h2 class="projects-case-overview__title title">Helping pharmacies in Zürich efficiently manage the COVID-19 crisis</h2>
                        <a href="#" class="projects-case-overview__button button button--filled">
                            <span>Read Case Study</span>
                            <svg width="11" height="11">
                                <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="projects-case-overview__descr">
                        <p>Hyperio's exceptional software engineering expertise played a critical role in managing the COVID crisis for Zürich's Pharmacy Association. I highly recommend them!</p>
                        <p>
                            Johan Cruyff <br>
                            Founder, Antaes
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.projects-case-overview -->