.prices-interior {

    // .prices-interior__container
    &__container {}

    // .prices-interior__top-row
    &__top-row {
        padding-bottom: 40px;
        border-bottom: 1px solid var(--gold);
    }

    // .prices-interior__title
    &__title {}

    // .prices-interior__descr
    &__descr {
        font-size: var(--font-size-h4);
        line-height: 120%;
        font-weight: 500;

        @media (min-width:$md0) {
            max-width: 870px;
        }

        @media (min-width:$md3) and (max-width:$md1) {
            max-width: 760px;
        }

        @media (min-width:$md5) and (max-width:$md3) {
            max-width: 635px;
        }
    }

    // .prices-interior__rows
    &__rows {
        @media (min-width:$md0) {
            max-width: percent(1315, 1760);
        }

        @media (min-width:$md3) and (max-width:$md0) {
            max-width: percent(846, 1280);
        }

        @media (min-width:$md5) and (max-width:$md0) {
            max-width: 541px;
        }

        @media (min-width:$md5) {
            margin-left: auto;
        }
    }

    // .prices-interior__row
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        padding: 25px 0;

        border-bottom: 1px solid var(--gold);
    }

    // .prices-interior__caption
    &__caption {
        font-weight: 600;
        line-height: 140%;

        @media (max-width:$md4) {
            max-width: 160px;
        }
    }

    // .prices-interior__value
    &__value {
        line-height: 140%;
    }
}