<section class="page__about about">
    <h2 class="visually-hidden">About Hyperio</h2>
    <div class="about__container">
        <div class="about__body">
            <div class="about__icon">
                <svg width="48" height="48">
                    <use xlink:href="img/icons/icons.svg#svg-swiss"></use>
                </svg>
            </div>
            <p class="about__suptitle">Made with Swiss precision, for a better world.</p>
            <p class="about__descr">Hyperio is a software development services provider in Switzerland that helps startups and corporations bring their innovative ideas to life. Our focus on agile and lean methodologies ensures high-quality results.</p>
            <a href="#" class="about__button button button--outline">
                <span>How it all started</span>
                <svg width="11" height="11">
                    <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
<!-- /.about -->