<section class="page__blog blog">
    <div class="blog__container">
        <div class="blog__top">
            <div class="blog__titles">
                <p class="blog__suptitle">Blog</p>
                <h2 class="blog__title title">Resources</h2>
            </div>
            <a href="#" class="blog__read-more button button--outline" data-da=".blog__container, 479, last">
                <span>View all posts</span>
                <svg width="11" height="11">
                    <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                </svg>
            </a>
        </div>
        <div class="blog__items">
            <article class="blog__item article-blog">
                <div class="article-blog__image">
                    <img src="@img/blog/b-01.jpg" alt="">
                </div>
                <div class="article-blog__info">
                    <div class="article-blog__data">12 Jan • 5 min read</div>
                    <h3 class="article-blog__title">17 Best LinkedIn Summary & Bio Examples</h3>
                </div>
                <a href="#" class="article-blog__link">Read more</a>
            </article>
            <article class="blog__item article-blog">
                <div class="article-blog__image">
                    <img src="@img/blog/b-02.jpg" alt="">
                </div>
                <div class="article-blog__info">
                    <div class="article-blog__data">12 Jan • 5 min read</div>
                    <h3 class="article-blog__title">Advice and Resources for AAPI Business Owners</h3>
                </div>
                <a href="#" class="article-blog__link">Read more</a>
            </article>
            <article class="blog__item article-blog">
                <div class="article-blog__image">
                    <img src="@img/blog/b-03.jpg" alt="">
                </div>
                <div class="article-blog__info">
                    <div class="article-blog__data">12 Jan • 5 min read</div>
                    <h3 class="article-blog__title">12 Elevator Pitch Examples to Inspire Your Own</h3>
                </div>
                <a href="#" class="article-blog__link">Read more</a>
            </article>
        </div>
    </div>
</section>
<!-- /.blog -->