<section class="page__contact-us contact-us">
    <div class="contact-us__container">
        <div class="contact-us__body">
            <div class="contact-us__info">
                <p class="contact-us__suptitle suptitle">Contact us</p>
                <h2 class="contact-us__title">Lets' get in touch</h2>
                <p class="contact-us__descr">Are you looking for a partner to realize your ambitions? <span>Hyperio offers specialized software development services for research and development, including creating prototypes, proof of concepts, MVPs, and digital platforms. We specialize in the intersection of IoT and energy management, bridging the gap between the physical and digital worlds.</span> </p>
            </div>
            <div class="contact-us__form">
                @@include('../_form.htm',{})
            </div>
        </div>
    </div>
    <div class="contact-us__shapes">
        <img decoding="async" loading="lazy" src="@img/shapes/shape-services-03.svg" width="321" height="363" alt="" class="contact-us__shape" data-watch data-watch-threshold=".5">
    </div>
</section>
<!-- /.contact-us -->