<section class="page__hero hero">
    <div class="hero__container">
        <div class="hero__body">
            <div class="hero__inner">
                <div class="hero__top">
                    <h2 class="hero__title">Bring ideas to life, one line of code at a time</h2>
                    <svg class="hero__ideas" width="312" height="16">
                        <use xlink:href="img/icons/icons.svg#svg-ideas"></use>
                    </svg>
                    <svg class="hero__with-love" width="193" height="91">
                        <use xlink:href="img/icons/icons.svg#svg-with-love"></use>
                    </svg>
                </div>
                <p class="hero__descr">
                    <span>Unlike generalist software development service providers,</span> Hyperio specializes in delivering prototypes, PoCs and MVPs, using Agile and Lean methodologies to ensure high-quality results.
                </p>
                <button type="button" class="hero__button button button--filled" data-popup=".shedule-consult">
                    <svg width="24" height="24">
                        <use xlink:href="img/icons/icons.svg#svg-calendar"></use>
                    </svg>
                    <span>Schedule your consultation</span>
                </button>
            </div>
            <div class="hero__image">
                <img src="@img/hero.svg" width="772" height="469" alt="">
            </div>
        </div>
    </div>
    <div class="hero__about">
        <div class="hero__container">
            <p>Don't miss out on growth opportunities due to inefficient processes, lack of clarity, and poor user experience.</p>
        </div>
        <picture>
            <source srcset="@img/shapes/shape-hero-s.svg" class="hero__shape" width="375" height="134" media="(max-width: 550px)">
            <img src="@img/shapes/shape-hero.svg" class="hero__shape" width="1440" height="134" alt="" data-watch data-watch-threshold="0.5">
        </picture>

    </div>
</section>
<!-- /.hero -->