.description-about {

    // .description-about__container
    &__container {}

    // .description-about__body
    &__body {}

    // .description-about__top-row
    &__top-row {
        margin-bottom: 20px;
    }

    // .description-about__suptitle
    &__suptitle {}

    // .description-about__title
    &__title {
        @media (min-width:$md5) {
            @include adaptiveValue("max-width", 1019, 354, 0, 1920, 615);
        }

        @media (min-width:$md1) {
            @include adaptiveValue("font-size", 36, 30);
        }

        @media (max-width:$md1) {
            @include adaptiveValue("font-size", 30, 22, 0, 960, 479);
        }

        // @media (min-width:$md5) {
        //     @include adaptiveValue("margin-bottom", 76, 132, 0, 1920, 400);
        // }

    }

    // .description-about__col
    &__row {
        @media (min-width:$md5) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            gap: 20px;
        }
    }

    // .description-about__button
    &__button {
        @media (min-width:$md5) {
            flex-grow: 0;
            flex-shrink: 0;
            @include adaptiveValue("flex-basis", 1019, 354, 0, 1920, 800);
        }

        @media (max-width:$md5) {
            margin-bottom: 20px;
        }
    }

    // .description-about__descr
    &__descr {

        line-height: 140%;

        @media (min-width:$md5) {
            flex: 0 1 auto;
        }
    }
}