//<FORM>
// Снипет (HTML):
.form {
	background-color: var(--white-pure);
	border-radius: 20px;

	@media (min-width:$md2) {
		padding: 60px 50px 70px;
	}

	@media (max-width:$md2) {
		padding: 50px 20px 40px;
	}

	// .form__lines
	&__lines {}

	// .form__line
	&__line {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .form__label
	&__label {
		display: block;

		color: var(--blue-dark);
		font-size: 16px;
		line-height: math.div(28, 16);
		font-weight: 500;

		&:last-child {
			margin-bottom: 6px;
		}
	}

	// .form__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			color: var(--blue-dark);
			opacity: .2;

			font-size: 16px;
			font-weight: 500;
		}

		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}

	// .form__button
	&__button {
		width: 100%;
		color: var(--white-pure);

		@media (any-hover: hover) {
			&:hover {
				color: var(--main-color);
			}
		}
	}

	// .form__note
	&__note {
		max-width: 332px;
		margin: 0 auto;

		text-align: center;
		font-size: 14px;
		line-height: math.div(22, 14);
		letter-spacing: 0.01em;
		color: #535459;

		a {
			color: #f57e47;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__error {
		position: absolute;
		bottom: -17px;
		left: 0;

		font-size: 14px;
		color: var(--red);
	}
}

button[type="submit"] {

	svg,
	span {
		transition: opacity .6s ease;
	}

	.loading & {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			margin: auto;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			animation: load-spin ease infinite 3s;

			width: 8px;
			height: 8px;
			border-radius: 100%;
			box-shadow: 8px 8px var(--secondary),
				-8px 8px rgb(223, 223, 223),
				-8px -8px var(--secondary),
				8px -8px rgb(223, 223, 223);

		}

		svg,
		span {
			opacity: 0;
		}
	}
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";

//<SWITCH>
// @import "switch";