//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&::placeholder {
		font-size: inherit;
		color: inherit;

		opacity: 0.5;

		transition: opacity .6s ease;
	}
}

.input {
	width: 100%;
	display: block;
	padding: 12px 15px;

	font-size: 18px;
	line-height: math.div(28, 18);

	border: 1px solid rgba(4, 9, 28, 0.3);
	border-radius: 7px;

	color: var(--gray);
	background-color: transparent;

	transition: color .4s ease,
		background-color .4s ease,
		border-color .4s ease;

	@media (any-hover: hover) {
		&:hover {
			border-color: var(--blue-dark);

			&::placeholder {
				opacity: 1;
			}
		}
	}

	&._form-focus {
		color: var(--blue-dark);
		border-color: var(--blue-dark);
	}

	&._form-error {
		border-color: var(--red);
	}
}

textarea.input {
	resize: none;
	min-height: 140px;
}