.price-repair {

    // .price-repair__container
    &__container {}

    // .price-repair__top-row
    &__top-row {
        border-bottom: 1px solid var(--gold);

        @media (min-width:$md4) {
            margin-bottom: 40px;
            padding-bottom: 40px;
        }

        @media (max-width:$md4) {
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
    }

    // .price-repair__title
    &__title {}

    // .price-repair__descr
    &__descr {
        line-height: 120%;
        font-weight: 500;
        font-size: var(--font-size-h4);

        @media (min-width:$md5) {
            @include adaptiveValue("max-width", 870, 635, 0, 1500, 800);
        }
    }

    // .price-repair__body
    &__body {
        position: relative;
    }

    //.price-repair__text-block
    &__text-block {
        margin-left: auto;

        line-height: 140%;

        @media (min-width:$md3) {
            max-width: percent(722, 1760);
        }

        @media (min-width:$md4) and (max-width:$md3) {
            max-width: 354px;
        }
    }

    // .price-repair__image
    &__image {
        overflow: hidden;

        @media (min-width:$md2) {
            aspect-ratio: 1760 / 743;
        }

        @media (min-width:$md4) and (max-width:$md2) {
            aspect-ratio: 920 / 541;
        }

        @media (min-width:$md4) {
            border-radius: 20px;
        }

        @media (max-width:$md4) {
            aspect-ratio: 328 / 260;
            border-radius: var(--radius-small);
        }
    }

    // .price-repair__statuses
    &__statuses {}

    // .price-repair__status
    &__status {
        position: absolute;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        color: var(--white);
        text-align: center;
        line-height: 140%;

        background-color: var(--gold);
        border-radius: 800px;

        @media (min-width:$md4) {
            bottom: 20px;
        }

        @media (max-width:$md4) {
            bottom: 10px;
        }

        // .price-repair__status--before
        &--before {
            @media (min-width:$md4) {
                left: 20px;
            }

            @media (max-width:$md4) {
                left: 10px;
            }
        }

        // .price-repair__status--after
        &--after {
            @media (min-width:$md4) {
                right: 20px;
            }

            @media (max-width:$md4) {
                right: 10px;
            }
        }
    }
}