 .growth-insights {

     // .growth-insights__container
     &__container {}

     // .growth-insights__icon
     &__icon {

         max-width: 48px;
         margin: 0 auto 20px;

     }

     // .growth-insights__title
     &__title {

         color: var(--secondary);


         @media (min-width:$md3) {

             margin-bottom: 70px;

         }

         @media (max-width:$md3) {

             margin-bottom: 40px;

         }

         @media (max-width:$md5) {

             text-align: center;

         }

         br {
             @media (min-width:$md4) {

                 display: none;

             }
         }
     }

     // .growth-insights__body
     &__body {
         @media (min-width:$md1) {

             @include gridCards($type: fit, $min: 250px, $max: 326px, $gap: 160px 30px);

         }

         @media (min-width:$md3) and (max-width:$md1) {

             @include gridCards($type: fit, $min: 200px, $max: 1fr, $gap: 80px 30px);

         }

         @media (min-width:$md3) {

             justify-content: space-between;
             align-items: start;

         }
     }

     // .growth-insights__item
     &__item {
         @media (max-width:$md3) {

             max-width: 350px;
             margin: 0 auto;

         }

         &:not(:last-child) {
             @media (max-width:$md3) {

                 margin-bottom: 60px;

             }
         }
     }
 }

 .item-growth {

     // .item-growth__image
     &__image {

         border-radius: 20px;


         @media (min-width:$md3) {

             margin-bottom: 30px;

         }

         @media (max-width:$md3) {

             margin-bottom: 20px;

         }

         img {

             max-width: 100%;
             height: auto;
             object-fit: cover;
             border-radius: 20px;
             overflow: hidden;

         }
     }

     // .item-growth__group
     &__group {
         display: flex;
         align-items: center;
         gap: 7px;

         margin-bottom: 10px;

         font-size: 18px;
         line-height: math.div(28, 18);
         font-weight: 600;
         color: var(--orange);

         &--green {
             color: var(--green-darken);
         }


     }

     // .item-growth__label
     &__label {

         max-width: 295px;

         font-weight: 600;
         color: var(--secondary);
         line-height: math.div(36, 24);


         @media (min-width:$md3) {

             font-size: 24px;

         }

         @media (max-width:$md3) {

             font-size: 22px;

         }

         @media (min-width:$md3) {

             margin-bottom: 30px;

         }

         @media (max-width:$md3) {

             margin-bottom: 20px;

         }
     }

     // .item-growth__button
     &__button {}
 }