<section class="page__about about">
    <h2 class="visually-hidden">About Hyperio</h2>
    <div class="about__container">
        <div class="about__body">
            <div class="about__icon">
                <svg width="48" height="48">
                    <use xlink:href="img/icons/icons.svg#svg-swiss"></use>
                </svg>
            </div>
            <p class="about__suptitle">Made with Swiss precision, for a better world.</p>
            <p class="about__descr">Hyperio is a software development services provider in Switzerland that helps startups and corporations bring their innovative ideas to life. Our focus on agile and lean methodologies ensures high-quality results.</p>
            <p class="about__text">We specialize in the intersection of IoT and energy management, bridging the gap between the physical and digital worlds. Additionally, we have a network of expert partners who can assist our clients with all aspects of a project, from design thinking to UX/UI design.</p>
        </div>
    </div>
</section>
<!-- /.about -->