<section class="page__blockquote blockquote">
    <h2 class="visually-hidden">Great quote.</h2>
    <div class="blockquote__container">
        <div class="blockquote__body">
            <p class="blockquote__text">“When organizations are empowered by state-of-the-art software solutions, they can achieve their full potential”</p>
            <p class="blockquote__author">Hyperio Software Engineering</p>
        </div>
    </div>
    <div class="blockquote__image">
        <img src="@img/about/blockquote.jpg" width="1440" height="710" alt="Awesome image">
    </div>
</section>
<!-- /.blockquote -->