<section class="page__hero hero">
    <div class="hero__container">
        <div class="hero__body">
            <div class="hero__inner">
                <div class="hero__top">
                    <p class="hero__suptitle suptitle">About us</p>
                    <h1 class="hero__title">Software platforms should empower companies to achieve their full potential.</h1>
                    <svg class="hero__ideas" width="267" height="14">
                        <use xlink:href="img/icons/icons.svg#svg-ideas"></use>
                    </svg>
                </div>
                <p class="hero__descr">
                    Our goal is to make technology accessible and beneficial for everyone by delivering prototypes, MVPs, and digital platforms using agile and lean methodologies and leveraging a network of partners.
                </p>
            </div>
        </div>
    </div>
    <div class="hero__wide-image">
        <img src="@img/about/hero.jpg" width="1440" height="710" alt="Awesome image">
    </div>
    <div class="hero__about">
        <div class="hero__container">
            <p>At Hyperio, we provide our clients custom-built software solutions that accelerate business growth by providing secure, efficient, and intelligent technology. We bring ideas to life, one line of code at a time.</p>
        </div>
    </div>
</section>
<!-- /.hero -->