<section class="page__our-team our-team">
    <div class="our-team__container">
        <div class="our-team__top">
            <p class="our-team__suptitle suptitle">Our Team</p>
            <h2 class="our-team__title title">Worldwide creativity, delivered remotely.</h2>
            <p class="our-team__descr">Our international network of designers, strategists and developers who collaborate to execute projects and provide a valuable perspective on our work.</p>
        </div>
        <div class="our-team__members">
            <div class="our-team__member member-team">
                <div class="member-team__about">
                    <div class="member-team__photo">
                        <img src="@img/about/team/t-01.jpg" width="60" height="60" alt="Awesome image">
                    </div>
                    <div class="member-team__name">Jonathan Snow</div>
                </div>
                <div class="member-team__position">Senior UI Designer</div>
                <div class="member-team__country">
                    <div class="member-team__name-country">working from The Netherlands</div>
                    <div class="member-team__flag">
                        <svg width="48" height="48">
                            <use xlink:href="img/icons/icons.svg#svg-netherlands"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="our-team__member member-team">
                <div class="member-team__about">
                    <div class="member-team__photo">
                        <img src="@img/about/team/t-02.jpg" width="60" height="60" alt="Awesome image">
                    </div>
                    <div class="member-team__name">Kalman Magyari</div>
                </div>
                <div class="member-team__position">React Team Lead</div>
                <div class="member-team__country">
                    <div class="member-team__name-country">working from Romania</div>
                    <div class="member-team__flag">
                        <svg width="48" height="48">
                            <use xlink:href="img/icons/icons.svg#svg-romania"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="our-team__member member-team">
                <div class="member-team__about">
                    <div class="member-team__photo">
                        <img src="@img/about/team/t-03.jpg" width="60" height="60" alt="Awesome image">
                    </div>
                    <div class="member-team__name">Jonathan Snow</div>
                </div>
                <div class="member-team__position">Head of People and Culture</div>
                <div class="member-team__country">
                    <div class="member-team__name-country">working from Thailand</div>
                    <div class="member-team__flag">
                        <svg width="48" height="48">
                            <use xlink:href="img/icons/icons.svg#svg-thailand"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="our-team__member member-team">
                <div class="member-team__about">
                    <div class="member-team__photo">
                        <img src="@img/about/team/t-02.jpg" width="60" height="60" alt="Awesome image">
                    </div>
                    <div class="member-team__name">Taylor Swift</div>
                </div>
                <div class="member-team__position">WordPress Developer</div>
                <div class="member-team__country">
                    <div class="member-team__name-country">working from Switzerland</div>
                    <div class="member-team__flag">
                        <svg width="48" height="48">
                            <use xlink:href="img/icons/icons.svg#svg-swiss"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="our-team__member member-team">
                <div class="member-team__about">
                    <div class="member-team__photo">
                        <img src="@img/about/team/t-03.jpg" width="60" height="60" alt="Awesome image">
                    </div>
                    <div class="member-team__name">Andrea Schwein</div>
                </div>
                <div class="member-team__position">Senior Web Developer</div>
                <div class="member-team__country">
                    <div class="member-team__name-country">working from Spain</div>
                    <div class="member-team__flag">
                        <svg width="48" height="48">
                            <use xlink:href="img/icons/icons.svg#svg-spain"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="our-team__member member-team">
                <div class="member-team__about">
                    <div class="member-team__photo">
                        <img src="@img/about/team/t-01.jpg" width="60" height="60" alt="Awesome image">
                    </div>
                    <div class="member-team__name">Alex Banks</div>
                </div>
                <div class="member-team__position">UI Designer</div>
                <div class="member-team__country">
                    <div class="member-team__name-country">working from The Netherlands</div>
                    <div class="member-team__flag">
                        <svg width="48" height="48">
                            <use xlink:href="img/icons/icons.svg#svg-netherlands"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-team__bottom">
            <h2 class="our-team__second-title title">We’re hiring awesome people who want to build a better world through software.</h2>
            <a href="" class="our-team__button button button--filled">
                <span>View Open positions</span>
                <svg width="11" height="11">
                    <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
<!-- /.our-team -->