<section class="page__partners partners">
    <div class="partners__container">
        <h2 class="partners__title">Our Partners</h2>
        <p class="partners__descr">We believe in creating strong synergies between software development and our clients' industries.</p>
        <div class="partners__items">
            <div class="partners__item">
                <img decoding="async" loading="lazy" src="@img/partners/p-01-dark.svg" width="165" height="35" alt="">
            </div>
            <div class="partners__item">
                <img decoding="async" loading="lazy" src="@img/partners/p-02-dark.png" width="162" height="48" alt="">
            </div>
            <div class="partners__item">
                <img decoding="async" loading="lazy" src="@img/partners/p-03-dark.png" width="268" height="54" alt="">
            </div>
            <div class="partners__item">
                <img decoding="async" loading="lazy" src="@img/partners/p-04-dark.png" width="231" height="45" alt="">
            </div>
            <div class="partners__item">
                <img decoding="async" loading="lazy" src="@img/partners/p-05-dark.svg" width="155" height="45" alt="">
            </div>
            <div class="partners__item">
                <img decoding="async" loading="lazy" src="@img/partners/p-06-dark.svg" width="156" height="40" alt="">
            </div>
        </div>
    </div>
</section>
<!-- /.partners -->