<section class="page__services services">
    <div class="services__container">
        <div class="services__top">
            <p class="services__suptitle suptitle">Our Services</p>
            <h2 class="services__title title">Hyperio will help you drive success
                <svg class="services__decor-line" width="140" height="11">
                    <use xlink:href="img/icons/icons.svg#svg-succes"></use>
                </svg>
            </h2>
            <p class="services__descr">by delivering software development services specifically for innovation and R&D, including prototypes, proof of concepts, MVPs, digital platforms.</p>
        </div>
        <div class="services__body">
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/s-04.svg" width="450" height="450" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">Innovative</h3>
                    <p class="item-services__descr">We collaborate with the best talent to deliver the best solutions to our customers by creating software development services specifically for innovation and R&D, including prototypes, proof of concepts, MVPs, digital platforms</p>
                    <a href="#" class="item-services__button button button--outline">
                        <span>View our Team</span>
                        <svg width="14" height="14">
                            <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/s-05.svg" width="450" height="450" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">Versatile</h3>
                    <p class="item-services__descr">We have deep knowledge and expertise in a wide range of software technologies, from low-energy sensors to high-end cloud data servers, specializing in IoT and energy management solutions.</p>
                    <a href="#" class="item-services__button button button--outline">
                        <span>View Case Studies</span>
                        <svg width="14" height="14">
                            <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/s-03.svg" width="450" height="450" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">Comprehensive</h3>
                    <p class="item-services__descr">We have an extensive network of seasoned partners with the ability to bring all the necessary talents under the same roof to deliver a fully-fledged product and who can be mobilized to accompany the clients from idea to completion in all areas of a project (design thinking, graphic design, UX/UI, etc.)</p>
                </div>
            </div>
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/s-01.svg" width="450" height="450" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">Streamlined</h3>
                    <p class="item-services__descr">We offer a single point of contact for accessible communication, responsibility, and billing simplification.</p>
                </div>
            </div>
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/s-06.svg" width="450" height="450" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">Meticulous</h3>
                    <p class="item-services__descr">We embody Swiss quality and culture while paying attention to detail and delivering high-quality, scalable solutions. We offer services in EN / FR / DE.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="services__shapes">
        <img decoding="async" loading="lazy" data-watch data-watch-threshold="0.5" class="services__shape-01" src="@img/shapes/shape-services-01.svg" width="320" height="363" alt="">
        <img decoding="async" loading="lazy" data-watch data-watch-threshold="0.5" class="services__shape-02" src="@img/shapes/shape-services-01.svg" width="320" height="363" alt="">
        <img decoding="async" loading="lazy" data-watch data-watch-threshold="0.5" class="services__shape-03" src="@img/shapes/shape-services-03.svg" width="320" height="363" alt="">
    </div>
</section>
<!-- /.services -->