<section class="page__featured-project featured-project">
    <div class="featured-project__container">
        <div class="featured-project__body">
            <div class="featured-project__image">
                <img src="@img/featured-project/01.jpg" width="480" height="450" alt="">
            </div>
            <div class="featured-project__content">
                <div class="featured-project__descr">
                    <p class="featured-project__suptitle suptitle">Featured Project</p>
                    <h2 class="featured-project__title title">Helping pharmacies in Zürich efficiently manage the&nbsp;COVID-19 crisis</h2>
                    <a href="" class="featured-project__button button button--filled">
                        <span>Read Case Study</span>
                        <svg width="11" height="11">
                            <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="featured-project__review review-project">
                    <p class="review-project__text">Hyperio's exceptional software engineering expertise played a critical role in managing the COVID crisis for Zürich's Pharmacy Association. I highly recommend them!</p>
                    <p class="review-project__author">
                        Johan Cruyff <br>
                        Founder, Antaes</p>
                    <svg class="review-project__quotes" width="56" height="43">
                        <use xlink:href="img/icons/icons.svg#svg-quotes"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.featured-project -->