<section class="page__hero hero">
    <div class="hero__container">
        <div class="hero__body">
            <div class="hero__inner">
                <div class="hero__top">
                    <h1 class="hero__title">Our services</h1>
                </div>
                <p class="hero__descr">
                    At Hyperio, we provide our clients with custom-built software solutions that accelerate business growth by providing secure, efficient, and intelligent technology. We bring ideas to life, one line of code at a time.
                </p>
            </div>
            <div class="hero__services-image">
                <img src="@img/services/hero.svg" width="573" height="453" alt="">
            </div>
        </div>
    </div>

    <div class="hero__about hero__about--default">
        <div class="hero__container">
            <p class="hero__suptitle-about">Sofware engineering challenge</p>
            <p class="hero__descr-about">Many startups and corporations struggle to bring their ideas to life.</p>
            <p class="hero__text-about">Companies lack the necessary resources and expertise in software development. Additionally, existing software development service providers often offer generic solutions that do not address the specific needs of each client.</p>
        </div>
    </div>
</section>
<!-- /.hero -->