<section class="page__services services">
    <div class="services__container">
        <div class="services__top">
            <p class="services__suptitle suptitle">Our Services</p>
            <h2 class="services__title title">Hyperio will help you drive success
            </h2>
            <p class="services__descr">by delivering software development services specifically for innovation and R&D, including prototypes, proof of concepts, MVPs, digital platforms.</p>
        </div>
        <div class="services__body">
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/sa-01.svg" width="450" height="352" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">Prototypes, Proof of Concepts, MVPs</h3>
                    <p class="item-services__descr">Supporting a network of experts who can be mobilized to accompany the clients from idea to completion in all project areas (design thinking, graphic design, UX/UI, etc.).</p>
                    <a href="#" class="item-services__button button button--filled">
                        <span>Featured Case Study</span>
                        <svg width="14" height="14">
                            <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/sa-02.svg" width="450" height="337" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">IoT and Energy Management Solutions</h3>
                    <p class="item-services__descr">We have deep knowledge and expertise in a wide range of software technologies, from low-energy sensors to high-end cloud data servers, specializing in IoT and energy management solutions.</p>
                </div>
            </div>
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/sa-03.svg" width="450" height="337" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">Software Development</h3>
                    <p class="item-services__descr">Full Stack Development (Backend and Frontend software development)</p>
                    <a href="#" class="item-services__button button button--filled">
                        <span>See our technology</span>
                        <svg width="14" height="14">
                            <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/sa-04.svg" width="450" height="337" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">Technology Consulting</h3>
                    <p class="item-services__descr">We have deep knowledge and expertise in a wide range of software technologies, from low-energy sensors to high-end cloud data servers, specializing in IoT and energy management solutions.</p>
                </div>
            </div>
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/sa-05.svg" width="450" height="337" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">Mobile Applications</h3>
                    <p class="item-services__descr">Supporting a network of experts who can be mobilized to accompany the clients from idea to completion in all project areas (design thinking, graphic design, UX/UI, etc.).</p>
                    <a href="#" class="item-services__button button button--outline">
                        <span>View our Team</span>
                        <svg width="14" height="14">
                            <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="services__item item-services">
                <div class="item-services__image">
                    <img src="@img/services/sa-06.svg" width="450" height="337" alt="">
                </div>
                <div class="item-services__about">
                    <h3 class="item-services__label title">Expert Network</h3>
                    <p class="item-services__descr">We have deep knowledge and expertise in a wide range of software technologies, from low-energy sensors to high-end cloud data servers, specializing in IoT and energy management solutions.</p>
                    <a href="#" class="item-services__button button button--outline">
                        <span>View our Team</span>
                        <svg width="14" height="14">
                            <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="services__bottom bottom-services">
            <h2 class="bottom-services__title title">Interested in collaborating? Let’s&nbsp;talk.</h2>
            <p class="bottom-services__descr">We specialize in the intersection of IoT and energy management, bridging the gap between the physical and digital worlds. </p>
            <a href="tel:+392037144800" class="bottom-services__button button button--filled">Call +39 203 714 4800</a>
        </div>
    </div>
    <div class="services__shapes">
        <img decoding="async" loading="lazy" data-watch data-watch-threshold="0.5" class="services__shape-01" src="@img/shapes/shape-services-01.svg" width="320" height="363" alt="">
        <img decoding="async" loading="lazy" data-watch data-watch-threshold="0.5" class="services__shape-02" src="@img/shapes/shape-services-01.svg" width="320" height="363" alt="">
        <img decoding="async" loading="lazy" data-watch data-watch-threshold="0.5" class="services__shape-03" src="@img/shapes/shape-services-03.svg" width="320" height="363" alt="">
    </div>
</section>
<!-- /.services -->