<section class="page__steps steps steps--light">
    <div class="steps__container">
        <p class="steps__suptitle suptitle">Hyperio’s approach</p>
        <h2 class="steps__title title">Taking a holistic, step by step process, for iterating software development that works</h2>
        <div class="steps__items">
            <div class="steps__item item-steps">
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-blue.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
                <h3 class="item-steps__title">Design</h3>
                <p class="item-steps__descr">We partner with you to fully comprehend your needs, vision, and objectives. Together, we carefully plan and design the development journey for a customized software solution that addresses your specific business challenges.</p>
            </div>
            <div class="steps__item item-steps">
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-orange.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
                <h3 class="item-steps__title">Develop</h3>
                <p class="item-steps__descr">We involve you in every step of the software development process, gathering your feedback iteratively and implementing it to refine the solution. This ensures that the end product is tailored to your unique requirements and delivers optimal results.</p>
            </div>
            <div class="steps__item item-steps">
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-green.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
                <h3 class="item-steps__title">Deploy</h3>
                <p class="item-steps__descr">We deploy the new platform seamlessly, ensuring that it operates efficiently, generates value, and inspires trust among your customers. With our solution in place, you'll be able to engage with your customers in new, meaningful ways.</p>
            </div>
        </div>
        <div class="steps__bottom">
            <h3 class="steps__label">View selected projects that we’ve proudly built</h3>
            <a href="#" class="steps__button button button--filled">
                <span>View Case Studies</span>
                <svg width="11" height="11">
                    <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
<!-- /.steps -->