<section class="page__steps steps">
    <div class="steps__container">
        <p class="steps__suptitle suptitle">Our approach</p>
        <h2 class="steps__title title">Our core offering</h2>
        <div class="steps__items steps__items--narrow">
            <div class="steps__item item-steps">
                <h3 class="item-steps__title">Prototypes, Proof of Concepts, MVPs</h3>
                <p class="item-steps__descr">Our software engineering expertise allows us to validate your ideas faster.</p>
                <a href="#" class="item-steps__button button button--outline">
                    <span>View Case Study</span>
                    <svg width="11" height="11">
                        <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                    </svg>
                </a>
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-blue.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="steps__item item-steps">
                <h3 class="item-steps__title">IoT and Energy Management Solutions</h3>
                <p class="item-steps__descr">Hyperio offers Solutions that optimize energy consumption, reduce costs, and improve sustainability.</p>
                <a href="#" class="item-steps__button button button--outline">
                    <span>View Case Study</span>
                    <svg width="11" height="11">
                        <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                    </svg>
                </a>
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-orange.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="steps__item item-steps">
                <h3 class="item-steps__title">Software <br> Development</h3>
                <p class="item-steps__descr">Hyperio provides custom software development to help your company optimize your operations.</p>
                <a href="#" class="item-steps__button button button--outline">
                    <span>View Case Study</span>
                    <svg width="11" height="11">
                        <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                    </svg>
                </a>
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-green.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="steps__item item-steps">
                <h3 class="item-steps__title">Technology <br> Consulting</h3>
                <p class="item-steps__descr">Hyperio's services aim to assist your business with expert guidance and strategic advice</p>
                <a href="#" class="item-steps__button button button--outline">
                    <span>View Case Study</span>
                    <svg width="11" height="11">
                        <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                    </svg>
                </a>
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-blue.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="steps__item item-steps">
                <h3 class="item-steps__title">Mobile <br> Applications</h3>
                <p class="item-steps__descr">Hyperio help you create powerful, user-friendly, and feature-rich mobile applications.</p>
                <a href="#" class="item-steps__button button button--outline">
                    <span>View Case Study</span>
                    <svg width="11" height="11">
                        <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                    </svg>
                </a>
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-orange.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
            <div class="steps__item item-steps">
                <h3 class="item-steps__title">Expert <br> Network</h3>
                <p class="item-steps__descr">As a network of experienced and highly skilled professionals, Hyperio leverages collective expertise.</p>
                <a href="#" class="item-steps__button button button--outline">
                    <span>View Case Study</span>
                    <svg width="11" height="11">
                        <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                    </svg>
                </a>
                <img decoding="async" loading="lazy" class="item-steps__decor" src="@img/steps/d-green.svg" width="385" height="352" alt="" data-watch data-watch-threshold="1">
            </div>
        </div>
        <div class="steps__bottom">
            <h3 class="steps__label">Interested in collaborating? Let’s talk.</h3>
            <p class="steps__descr">We specialize in the intersection of IoT and energy management, bridging the gap between the physical and digital worlds. </p>
            <a href="tel:+392037144800" class="steps__button button button--filled">
                Call +39 203 714 4800
            </a>
        </div>
    </div>
</section>
<!-- /.steps -->