<section class="page__whitepaper single-blog-post__whitepaper whitepaper">
    <div class="whitepaper__container">
        <div class="whitepaper__body">
            <div class="whitepaper__content">
                <div class="whitepaper__images">
                    <picture>
                        <source srcset="@img/whitepaper/book-s.png" type="image/webp" media="(max-width: 550px)">
                        <source srcset="@img/whitepaper/book.png" type="image/webp">
                        <img decoding="async" loading="lazy" class="whitepaper__image" src="@img/whitepaper/book.png" width="541" height="522" alt="">
                    </picture>
                    <img decoding="async" loading="lazy" class="whitepaper__round" src="@img/whitepaper/round-orange.svg" width="301" height="301" alt="">
                </div>
                <div class="whitepaper__info">
                    <p class="whitepaper__suptitle">Whitepaper</p>
                    <h2 class="whitepaper__title title">A Free Introduction
                        to&nbsp;Digital Marketing</h2>
                    <p class="whitepaper__descr">Learn the basics of digital marketing and explore different ways to reach your ideal customer.</p>
                    <form class="whitepaper__form" action="#" method="POST" data-dev data-ajax data-popup-message=".thanks-for-download">
                        <div class="whitepaper__input whitepaper__input--light">
                            <input autocomplete="off" type="text" name="form[]" data-required="email" data-error="Enter Email address" placeholder="Email address" class="input">
                        </div>
                        <div class="whitepaper__submit">
                            <button type="submit" class="whitepaper__button button button--filled"><span>Free Download</span></button>
                        </div>
                    </form>
                    <div class="whitepaper__note">We’ll only send you the download link, we 💯 don’t like spam either.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="whitepaper__shapes">

        <picture>
            <source srcset="@img/shapes/shape-blog.svg" class="whitepaper__shape" width="321" height="363" media="(max-width: 550px)">
            <img decoding="async" loading="lazy" src="@img/shapes/shape-services-03.svg" width="321" height="363" alt="" class="whitepaper__shape">
        </picture>
        <picture>
            <source srcset="@img/shapes/shape-whitepaper-s.svg" class="whitepaper__shape-01" width="1440" height="321" media="(max-width: 550px)">
            <img decoding="async" loading="lazy" src="@img/shapes/shape-whitepaper.svg" width="1440" height="320" alt="" class="whitepaper__shape-01" data-watch data-watch-threshold=".8">
        </picture>

    </div>
</section>
<!-- /.whitepaper -->