.portfolio {
	background-color: var(--black-light);

	border-radius: var(--radius-large) var(--radius-large) 0 0;

	@media (min-width: $md2) {
		padding: 160px 0 260px;
		transform: translate3D(0, 100px, 0);
	}

	@media (min-width: $md5) and (max-width: $md2) {
		padding: 120px 0 195px;
		transform: translate3D(0, 75px, 0);
	}

	@media (max-width: $md5) {
		padding: 80px 0 130px;
		transform: translate3D(0, 50px, 0);
	}

	// .portfolio__container
	&__container {
	}

	// .portfolio__body
	&__body {
		@media (min-width: $md3) {
			display: grid;
			grid-template-columns: clamp(293px, 32.5%, 572px) auto;
			align-items: start;
			gap: 20px;
		}
	}

	// .portfolio__descr
	&__descr {
		color: var(--white);

		@media (min-width: $md2) {
			position: sticky;
			top: 0;
		}

		@media (min-width: $md5) and (max-width: $md3) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			margin-bottom: 40px;
		}

		@media (max-width: $md5) {
			margin-bottom: 60px;
		}
	}

	// .portfolio__text
	&__text {
		@media (min-width: $md2) {
			margin-bottom: 60px;
		}

		@media (min-width: $md3) and (max-width: $md2) {
			margin-bottom: 40px;
		}

		@media (max-width: $md5) {
			margin-bottom: 40px;
		}
	}

	// .portfolio__suptitle
	&__suptitle {
	}

	// .portfolio__title
	&__title {
		@media (min-width: $md1) {
			max-width: 460px;
		}

		@media (min-width: $md3) and (max-width: $md1) {
			word-break: break-word;
		}

		@media (min-width: $md4) and (max-width: $md1) {
			max-width: 345px;
		}

		@media (max-width: $md4) {
			max-width: 285px;
		}
	}

	// .portfolio__button
	&__button {
		@media (min-width: $md5) and (max-width: $md3) {
			flex: 0 0 293px;
		}
	}

	// .portfolio__items
	&__items {
		color: var(--white);
	}

	// .portfolio__swiper
	&__swiper {
		@media (min-width: $md5) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 40px 20px;
		}
	}

	// .portfolio__slide
	&__slide {
		overflow: hidden;

		&:nth-child(2n + 1) {
			--image-parallax-offset: 0.075;
		}

		&:nth-child(3n) {
			--image-parallax-offset: 0.1;
		}

		&:nth-child(3n + 2) {
			--image-parallax-offset: 0.2;
		}

		&:nth-child(4n) {
			--image-parallax-offset: 0.3;
		}
	}
}

.item-portfolio {
	@media (any-hover: hover) {
		&:hover {
			.item-portfolio__button {
				background-color: var(--gold);
				color: var(--white);
			}
		}
	}

	// .item-portfolio__image
	&__image {
		// margin-bottom: 16px;
		overflow: hidden;
		border-radius: var(--radius-small);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 1;
		}

		&--rectangle {
			img {
				@media (min-width: $md5) {
					aspect-ratio: 870/570;
				}
			}
		}
	}

	// .item-portfolio__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 16px;

		@media (min-width: em(800)) {
			gap: 40px;
		}

		@media (min-width: $md3) and (max-width: em(800)) {
			gap: 20px;
		}

		@media (max-width: $md3) {
			gap: 40px;
		}
	}

	// .item-portfolio__info
	&__info {
		flex: 0 1 auto;
	}

	// .item-portfolio__label
	&__label {
		font-size: var(--font-size-h5);
		font-weight: 600;
		line-height: 140%;
	}

	// .item-portfolio__area
	&__area {
		opacity: 0.5;
		font-size: var(--font-size-small);
	}

	// .item-portfolio__button
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 42px;

		aspect-ratio: 1;

		border: 1px solid var(--gold);
		border-radius: 50%;
		color: var(--gold);

		transition:
			color 0.4s ease,
			background-color 0.4s ease;
	}
}
