.benefits-repair {

    // .benefits-repair__container
    &__container {}

    // .benefits-repair__body
    &__body {
        @media (min-width:em(850)) {
            display: flex;
            gap: 20px;
        }
    }

    // .benefits-repair__top-row
    &__top-row {
        @media (min-width:em(850)) {
            flex: 0 1 544px;
        }

        @media (min-width:$md4) and (max-width:em(850)) {
            margin-bottom: 30px;
        }

        @media (max-width:$md4) {
            margin-bottom: 40px;
        }
    }

    // .benefits-repair__suptitle
    &__suptitle {}

    // .benefits-repair__title
    &__title {}

    // .benefits-repair__items
    &__items {
        counter-reset: item;

        @media (min-width:em(850)) {
            flex: 0 1 1168px;
        }

        @media (min-width:$md5) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }

    // .benefits-repair__item
    &__item {
        position: relative;
        padding: 20px;

        background-color: var(--white-dark);
        border-radius: var(--radius-small);
        overflow: hidden;

        &--has-image {
            padding: 0;
        }

        &:not(.benefits-repair__item--has-image) {
            &::before {
                counter-increment: item;
                content: '0'counter(item);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                margin-bottom: 16px;

                color: var(--white);
                line-height: 140%;

                border-radius: 50%;
                background-color: var(--gold);
            }
        }

        &:not(:last-child) {
            @media (max-width:$md5) {
                margin-bottom: 8px;
            }
        }
    }

    // .benefits-repair__text
    &__text {
        line-height: 140%;
    }

    // .benefits-repair__image
    &__image {
        @media (min-width:$md5) {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // object-position: 0 -50px;
            border-radius: var(--radius-small);

            @media (max-width:$md4) {
                aspect-ratio: 328/200;
            }
        }
    }
}