<section class="page__challenge challenge">
    <div class="challenge__container">
        <div class="challenge__body">
            <div class="challenge__info challenge__info--wide">
                <h2 class="challenge__title">The Challenge</h2>
                <p class="challenge__descr challenge__descr--smaller">Pharmacies needed to implement distancing measures to avoid the spread of the virus, protect pharmacists, and perform an initial triage of patients to direct them to the best test or preventive service. They also faced significant challenges during the COVID-19 pandemic, including sick staff, difficulty obtaining healthcare furniture, changing government regulations, and the arrival of tests and vaccines.</p>
            </div>
        </div>
    </div>
</section>
<!-- /.challenge -->