<section class="page__covid-case single-case">
    <div class="single-case__container">
        <div class="single-case__top">
            <p class="single-case__suptitle">Executive Summary</p>
            <h2 class="single-case__title title">Hyperio developed a customized web-based platform</h2>
            <p class="single-case__descr single-case__descr--centered">The web application was designed for pharmacies in Zurich to manage COVID-19 testing and vaccination appointments for patients. The platform streamlined the booking process, reduced physical exposure for patients and pharmacists, ensured compliance with government guidelines, and provided automatic transmission and reporting of COVID cases to the government. Over a thousand patients used the platform during the crisis period of 2022.</p>
        </div>
        <div class="single-case__image-dashboard">
            <img src="@img/casy-study/covid-case/dashboard.svg" width="1195" height="615" alt="Awesome image">
        </div>
        <div class="single-case__technologies">
            <p class="single-case__suptitle">Bootstrap, PHP, MySQL</p>
            <h2 class="single-case__title title">Technological Design</h2>
            <p class="single-case__descr single-case__descr--centered">Because the application needed mobile responsiveness, Bootstrap was an obvious choice for the front-end technology. It is fast to use and has a complete set of standardized form components - perfect for our registration platform.</p>

            <h3 class="single-case__label">Built with reliable and time-tested frameworks</h3>
            <div class="single-case__logos-technologies">
                <div class="single-case__logo-technologies">
                    <img src="@img/casy-study/covid-case/technologies/bootstrap.png" width="48" height="38" alt="Awesome image">
                </div>
                <div class="single-case__logo-technologies">
                    <img src="@img/casy-study/covid-case/technologies/mysql.svg" width="148" height="38" alt="Awesome image">
                </div>
                <div class="single-case__logo-technologies">
                    <img src="@img/casy-study/covid-case/technologies/php.svg" width="70" height="38" alt="Awesome image">
                </div>
            </div>
        </div>
        <div class="single-case__rows">
            <div class="single-case__item item-row-case">
                <div class="item-row-case__image">
                    <img src="@img/casy-study/covid-case/i-01.svg" width="450" height="340" alt="Awesome image">
                </div>
                <div class="item-row-case__content item-row-case__content--no-padding">
                    <h3 class="item-row-case__title title">For the Backend, we used a LAMP environment, including PHP and MySQL</h3>
                    <p class="item-row-case__text">The essential advantage of this programming language is its compatibility with SQL databases. We were able to write the support for the subscription module quickly, the booking system and the payment transactions thanks to PHP modularity.</p>
                    <a href="#" class="item-row-case__button button">
                        <span>Contact us to learn more</span>
                        <svg width="11" height="11">
                            <use xlink:href="img/icons/icons.svg#svg-arr-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="single-case__item item-row-case">
                <div class="item-row-case__image">
                    <img src="@img/casy-study/covid-case/i-02.svg" width="450" height="507" alt="Awesome image">
                </div>
                <div class="item-row-case__content">
                    <h3 class="item-row-case__title title">A flexible and fast Backend</h3>
                    <p class="item-row-case__text">PHP is also handy when it comes to writing cURL queries thanks to its integrated curl_ library. Since we used PayPal for the payment module, we needed to issue API queries on their URL, and PHP let us quickly use the PayPal REST API.</p>
                </div>
            </div>
            <div class="single-case__item item-row-case">
                <div class="item-row-case__image">
                    <img src="@img/casy-study/covid-case/i-03.svg" width="450" height="450" alt="Awesome image">
                </div>
                <div class="item-row-case__content">
                    <h3 class="item-row-case__title title">A user-friendly Frontend</h3>
                    <p class="item-row-case__text">The platform was designed to be user-friendly and secure, offering patients an ergonomic, fast, and secure experience. For pharmacies, it improved the scheduling and administrative management of COVID services to patients.</p>
                </div>
            </div>
        </div>
        <div class="single-case__single-item single-item-case">
            <div class="single-item-case__image">
                <img src="@img/casy-study/covid-case/i-04.svg" width="450" height="510" alt="Awesome image">
            </div>
            <div class="single-item-case__content">
                <p class="single-case__suptitle">How Our Booking Platform Helped</p>
                <h2 class="single-case__title title">A solution for pharmacies to manage testing and vaccination appointments efficiently</h2>
                <p class="single-case__descr">The platform allowed patients to book appointments online, reducing wait times and complexity for pharmacies. It also integrated a decision algorithm, a calendar booking, and a credit card payment system, reducing physical exposure for patients and pharmacists. The platform was designed to be user-friendly and secure, offering patients an ergonomic, fast, and secure experience. For pharmacies, it improved the scheduling and administrative management of COVID services to patients.</p>
            </div>
        </div>
    </div>
</section>
<!-- /.covid-case -->