<section class="page__hero-case hero-case">
    <div class="hero-case__container">
        <div class="hero-case__body">
            <div class="hero-case__content">
                <a href="#" class="hero-case__back-link">
                    <svg width="14" height="14">
                        <use xlink:href="img/icons/icons.svg#svg-arr-left"></use>
                    </svg>
                    <span>All Case Studies</span>
                </a>
                <div class="hero-case__descr">
                    <h1 class="hero-case__title hero-case__title--blue">Hyperio vs COVID</h1>
                    <p class="hero-case__text"><span>Helping pharmacies manage the COVID-19 Pandemic</span>
                        Creating testing & vaccination solutions for pharmacies</p>
                    <p class="hero-case__note">UI Design, Web Development, Strategy, Branding</p>
                </div>
            </div>
            <div class="hero-case__image hero-case__image--covid">
                <img src="@img/casy-study/hero-covid.svg" width="550" height="645" alt="">
            </div>
        </div>
    </div>
</section>
<!-- /.hero-case -->