<section class="page__metrics metrics">
    <div class="metrics__container">
        <div class="metrics__body">
            <div class="metrics__top">
                <p class="metrics__suptitle suptitle">Key Metrics</p>
                <h2 class="metrics__title title">Over a thousand patients</h2>
                <p class="metrics__text">The platform provided a tailored service to the healthcare sector, facilitating the battle against COVID-19 through efficient appointment management, intelligent patient pre-sorting, automated payment, and data management. It ensured compliance with government guidelines and the BAG treatment algorithm and provided automatic transmission and reporting of COVID cases to the government.</p>
            </div>
            <div class="metrics__item item-metrics item-metrics--orange">
                <h3 class="item-metrics__title">1000+</h3>
                <p class="item-metrics__descr">Patients benefited from using our platform, proving the effectiveness of the solution we provided</p>
                <img decoding="async" loading="lazy" class="item-metrics__decor" src="@img/steps/d-white.svg" width="261" height="295" alt="" data-watch data-watch-threshold="1">
            </div>
        </div>

    </div>
</section>
<!-- /.metrics -->