<section class="page__review-case review-case">
    <div class="review-case__container">
        <div class="review-case__body">
            <div class="review-case__decor">
                <svg width="56" height="44">
                    <use xlink:href="img/icons/icons.svg#svg-quotes"></use>
                </svg>
            </div>
            <p class="review-case__text">"The online platform developed by Hyperio increased the efficiency in managing COVID-19 testing and vaccination appointments. It also helped reduce the administrative workload and stress for pharmacy employees while ensuring compliance with government regulations (BAG). Hyperio provided intelligible training and seamless support for the pharmacy team."</p>
            <div class="review-case__photo">
                <img src="@img/casy-study/review2-case.png" width="200" height="200" alt="Awesome image">
            </div>
            <div class="review-case__about">
                <p>Schmiedegg-Apotheke AG</p>
            </div>
        </div>
    </div>
</section>
<!-- /.review-case -->