.faq-case-overview {

    // .faq-case-overview__container
    &__container {}

    // .faq-case-overview__title
    &__title {
        color: var(--secondary);
        text-align: left;

        @media (min-width:$md3) {
            margin-bottom: 70px;
        }

        @media (max-width:$md3) {
            margin-bottom: 50px;
        }
    }

    // .faq-case-overview__body
    &__body {}

    // .faq-case-overview__spollers
    &__spollers {}
}

.spollers {
    display: grid;
    gap: 20px;

    color: var(--secondary);

    // .spollers__item
    &__item {}

    // .spollers__title
    &__title {
        font-weight: 600;
        line-height: math.div(32, 27);
        letter-spacing: -.01em;
        text-align: left;

        @media (min-width:$md3) {
            font-size: 27px;
        }

        @media (max-width:$md3) {
            font-size: 22px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &--top {
            width: 100%;
        }
    }

    &__title-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        background-color: var(--white-pure);
        border-radius: 20px;

        @media (min-width:$md3) {
            padding: 30px 50px;
        }

        @media (max-width:$md3) {
            padding: 20px 15px;
        }
    }

    // .spollers__body
    &__body {
        line-height: math.div(32, 21);

        background-color: var(--white-pure);
        border-radius: 20px;

        @media (min-width:$md3) {
            padding: 30px 50px;
        }

        @media (max-width:$md3) {
            padding: 20px 15px;
        }
    }

    // .spollers__text
    &__text {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    // .spollers__list
    &__list {
        padding-left: 20px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    // .spollers__item-list
    &__item-list {
        list-style: disc;
    }

    // .spollers__buttons
    &__buttons {
        @media (min-width:$md4) {
            display: grid;
            grid-auto-flow: column;
            justify-content: start;
            gap: 20px;
        }

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    // .spollers__button
    &__button {
        line-height: math.div(22, 18);

        &:not(:last-child) {
            @media (max-width:$md4) {
                margin-bottom: 20px;
            }
        }

        &.button--outline {
            border-color: var(--seconadary);

            transition: color .4s ease,
                border-color .4s ease;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--orange);
                    border-color: var(--orange);
                }
            }
        }
    }

    &__icon {
        position: relative;
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-left: 20px;

        ._spoller-active & {
            &:before {
                transform: translatey(-50%) rotate(-90deg);
                opacity: 0;
            }

            &:after {
                transform: translatey(-50%) rotate(0);
            }
        }

        &:before,
        &:after {
            content: "";
            display: block;
            background-color: var(--orange);
            position: absolute;
            top: 50%;
            left: 0;
            transition: .35s;
            width: 100%;
            height: 4px;
        }

        &:before {
            transform: translatey(-50%);
        }

        &:after {
            transform: translatey(-50%) rotate(90deg);
        }
    }
}